[2020-05-15 20:23] hidmic commented on #511
Many `ros2` command verbs are lacking `NodeStrategy` arguments. @dawonn-haval if you can fix that up, that'd be great.

[2020-05-15 20:59] dawonn-haval commented on #511
I was just getting started! :)

[2020-05-18 10:11] doisyg opened #515 "[ros2 topic delay] use_sim_time"
`ros2 topic delay` seems to use the system clock instead of the topic `/clock` when using a simulation (and I guess playing a bag).
[code]
How to set `use_sim_time` to true for `ros2 topic` ? Or what should be the appropriate way to work with a simulation ?

[2020-05-18 13:18] hidmic commented on #515
Thanks for reporting! It is true there's currently no way to change `use_sim_time` value for `ros2cli` node. Off the top of my head, [`DirectNode`-specific arguments](https://github.com/ros2/ros2cli/blob/b622109d96e16506f1cd31cc9a4664c7df7332ec/ros2cli/ros2cli/node/direct.py#L84) could include a `-s` / `--use-sim-time` flag.

[2020-05-21 23:12] audrow commented on #348
@sonpeppers How is this going?  I'm thinking about giving it a try.

[2020-05-28 18:40] snehaldb90 opened #519 "ros2 topic echo crashes with the error when trying to echo a nonexistent topic"
## Bug report

- Operating System:
  - MacOS 10.14.5 (Mojave)
- Installation type:
  - Binaries
- Version or commit hash:
  - Foxy
- DDS implementation:
  - CycloneDDS

#### Steps to reproduce issue
Running the command 'ros2 topic echo /turtle1/color_sensor' terminates with the error. Ros2 topic echo crashes when trying to echo a nonexistent topic.

#### Expected behavior
dev_ws snehaldb$ ros2 top

[2020-05-28 18:43] clalancette commented on #519
Confirmed; I also get the same behavior on Linux.

[2020-05-28 18:56] jacobperron commented on #519
A git bisect shows that the bug was introduced in https://github.com/ros2/ros2cli/pull/494

[2020-05-28 19:27] jacobperron commented on #519
Proposed fix in https://github.com/ros2/ros2cli/pull/520

@snehaldb90 Thanks for the bug report!

[2020-05-28 21:46] #519 closed

[2020-06-02 12:05] craigh92 opened #523 "[ros2 topic echo] does not echo a published message by [ros2 topic pub] if joining late, even with --qos-durability=transient_local"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binary
- Version or commit hash:
  - Eloquent
- DDS implementation:
  - Default
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
If I start a publisher with the ros2cli tool at 0.1Hz, with the option `--qos-durability=transient_local`, and then wait 10 seconds for it to publis

[2020-06-03 22:54] prajakta-gokhale opened #525 "ros2 topic info -v prints incorrect QoS info for macOS + CycloneDDS"
## Bug report

**Required Info:**

- Operating System:
  - macOS 10.14 Mojave
- Installation type:
  - Fat binary from https://ci.ros2.org/view/packaging/
- Version or commit hash:
  - Foxy prerelease
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
`ros2 topic info -v` does not print correct QoS information for a topic.

[code]

#### Ex

[2020-06-04 14:55] clalancette commented on #523
If you manually specify the reliability, does it work for you?

[2020-06-05 17:23] #348 closed

[2020-06-08 06:29] fujitatomoya commented on #523
if I change the following, it works fine.

[code]

[2020-06-08 06:52] fujitatomoya commented on #523
This is because qos profile on publication(in this case ros2 topic pub) is set as system_default, and depth is 0.

changing qos profile, it can work as following,

[code]

I do not think this is bug but just a setting.

[2020-06-08 15:50] sunbo57123 commented on #475
hello,
I'm trying to resolve this issue, after reading some documents, I want to know if this could be a repo that seems like [ros/metapackage](https://github.com/ros/metapackages/).

[2020-06-08 16:05] clalancette commented on #523
@fujitatomoya Good work finding that!  The out-of-the-box experience here is kind of bad, so I'm thinking we should change the default.  What do you think about changing the publisher to use system_default, but with a depth of 1, instead?

[2020-06-08 16:17] ivanpauno commented on #475
That repository is not related to this.

In ROS 2, a metapackage is an "empty" package that collects other packages (so you can then easily build all of them, or install their debians).
See for example: https://github.com/ros2/rosbag2/tree/master/rosbag2.

To start, I would open a PR adding the new metapackage in this repo.
The package can be named `ros2cli_common_extensions`.

[2020-06-08 23:36] fujitatomoya commented on #523
@clalancette

definitely this is important,

i think that may be better, i may come up with PR. btw, is that supposed to mean we want to change rmw default? or only on ros2cli pub? I believe the latter one, since rmw has effect for all of the components including application.

[2020-06-09 06:08] fujitatomoya commented on #523
the question is why do we not have option to set history and depth as well? this is kind of constrain for user.

[2020-06-09 12:38] clalancette commented on #523
Yeah, let's just keep it confined to ros2cli pub for now.

Those would also be nice to have, though they wouldn't help the out-of-the-box experience.  I think the reason we don't have them is that these don't *typically* cause too many problems for the CLI tools, so we haven't implemented them yet.

[2020-06-09 13:38] fujitatomoya commented on #523
yeah, maybe it is likely to set profile but nothing else. it is always trading-off flexibility or complication...

[2020-06-09 13:54] fujitatomoya commented on #523
@clalancette

could you check https://github.com/ros2/ros2cli/pull/528 if you got time?

if we prefer it to adjust the depth(not exposing it), i can do that too. but it is likely that user requests the flexibility something like this, so that is the current implementation.

btw, `ros2 topic info prints also depth and history` could be the follow-up PR.

[2020-06-09 13:59] clalancette commented on #523
I think we should do both.  That is, I can take a look at #528, but I'd prefer if we *also* changed the depth on `ros2 topic echo` by default.  That way it will work better out-of-the-box.

[2020-06-09 16:30] sunbo57123 commented on #475
Much thanks for your response!
There are still 2 problems that confuse me:
- The content of this repo should contain `ros2launch` and `sros2`,is this designed for downloading all the cli commands(ros2cli+sros2+ros2launch) through metapackage? Is `ros2launch` here is repo **[ros2/launch_ros/ros2launch/](https://github.com/ros2/launch_ros/tree/master/ros2launch)** or **[ros2/launch](https://github.c

[2020-06-09 16:54] ivanpauno commented on #475
It can be an empty c++ project, it doesn't matter if it collects both python and c++ packages.
The only things that matters is that the manifest should collect all the desired dependencies (e.g. https://github.com/ros2/rosbag2/blob/2a939386ff2134a67e3708b8f75b0d68c6015311/rosbag2/package.xml#L12-L20).

`ros2launch` and `sros2` will continue being in their repositories.
The only problem with adding

[2020-06-09 23:40] fujitatomoya commented on #523
@clalancette

sounds reasonable, will be back with fix in today.

actually this is `ros2 topic pub`, `ros2 topic echo` is subscription so that depth will be set to 5 in default profile which is sensor_data. the original cause is publication depth is set to 0 as default, so that subscription cannot get the published data before participation even with durability.

[2020-06-10 09:37] craigh92 commented on #523
Thank you! This works for me now. I did actually try to change the `qos_profile` to `sensor_data`, but I did it for the subscriber, not the publisher.

------------------------------------------------------

As a new user, this is more intuitive to me. It's also a great way to test/demonstrate the `transient_local` policy without having to write any code.

[2020-06-10 15:40] craigh92 opened #529 "Feature Request - ros2 topic echo --once"
## Feature request

Add an option `--once` to the `ros2 topic echo` command, that will cause the command to exit after it has received and printed one message. Also add a `--timeout ` option that will cause the command to exit if a certain period of time has elapsed.

#### Feature description

If messages are being published representing the state of the system, then the `ros2 topic echo` is usefu

[2020-06-10 23:01] #507 closed

[2020-06-10 23:05] hidmic opened #530 "[ros2component] Remove get_container_components_info() in H-Turtle"
## Feature request

#### Feature description
`get_container_components_info()` [has been deprecated](https://github.com/ros2/ros2cli/blob/58a9d362b492dc40f2ae5bacfbe197ad412ecc7f/ros2component/ros2component/api/__init__.py#L75) as of Galactic.
Remove it one we get to H-Turtle.

[2020-06-11 09:33] craigh92 commented on #529
@dirk-thomas How do I test my PR?

If I type `ros2 topic echo` it will call the code that was installed when I did a full ros installation.

Ideally, I don't want to break the main installation. Is there a way to run the CLI tools without installing them?

[2020-06-11 14:26] clalancette commented on #529
You should be able to overlay them.  That is, make a workspace with your forked copy of `ros2cli`, build that, and then source `install/setup.bash` that is generated in that workspace.  You should now be able to use your versions of the commands.

[2020-06-12 09:30] craigh92 commented on #529
@clalancette Thanks fot your help. I have tried this, but even with a fresh fork that I have not changed, I get errors when I try to run the commands:

[code]

My directory structure looks like:
ws2
ws2/src
ws2/src/ros2cli (this is the cloned fork)
ws2/install

Do you know where I am going wrong? It seems to be something to do with missing `'rclpy.topic_endpoint_info`. Thanks.

[2020-06-12 09:45] craigh92 opened #533 "Install issue on Ubuntu18.04: Failed to load entry point <verb>: No module named 'rclpy.topic_endpoint_info"
## Bug report

If I clone `ros2/roscli` into a new workspace,  build with `colcon build`, install with `. ./install/setup.sh` and then test with `ros2 topic -h`, `ros2 service -h ` etc, I get the error:

[code]

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - ros2 from binary
  - ros2cli from source
- Version or commit hash:
  - ros2: eloquent
  - ros2cli: 58a9d36

[2020-06-12 10:02] craigh92 commented on #533
I have tried running `sudo apt install ros-eloquent-desktop` again to update to the latest version of eloquent, but this did not fix the issue

[2020-06-12 13:13] clalancette commented on #529
In this case, the likely problem is that your underlay is binary (I'm guessing Eloquent), but your overlay is brand-new (essentially post-Foxy).

You *may* be able to install Foxy in a 20.04 container and overlay it that way.  If that doesn't work, you'll have to build from source.

[2020-06-12 15:45] craigh92 commented on #533
I upgraded to foxy, and this has fixed the issue.

[2020-06-12 15:45] #533 closed

[2020-06-12 15:47] craigh92 commented on #529
You're right. Upgrading to foxy has fixed the issue. I have now been able to test my PR and it works, thank you :)

[2020-06-13 07:46] evshary opened #534 "Autocomplete fails while using zsh."
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - Dashing / Eloquent
- DDS implementation:
  - ALL
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
I use zsh as my shell, but I find some problems while using `<tab>` to autocomplete.

* While I type `ros2 run <tab>`, it works well.
* Howeve

[2020-06-13 12:49] craigh92 opened #535 "Add `ros2 node kill <node_name>` and `ros2 node kill --all` (similar to `rosnode kill` from ros1)"
## Feature request

#### Feature description
ros1 had the ability to kill a node from the command line using `rosnode kill <node_name>`, or kill all nodes using `rosnode kill -a`. This would end the process running each ros node. It would be usefull to have this feature in ros2.

We currently have `ros2 lifecycle set` which can be used for a similar purpose, but this only works for `ManagedNodes`

[2020-06-13 15:27] dirk-thomas commented on #534
The fact that you have `argcomplete` under `~/.local/` indicates that you installed it via `pip` rather than (or in addition to) the Debian package.

Please share the version numbers of `argcomplete` reported by these two command:

* `pip3 freeze | grep arcomplete`
* `dpkg -l | grep argcomplete`

[2020-06-14 02:56] evshary commented on #534
@dirk-thomas  You're right. I've install `argcomplete` with the command `python3 -m pip install -U argcomplete` according to [the tutorial](https://index.ros.org/doc/ros2/Installation/Foxy/Linux-Development-Setup/) before.

My result for the two commands:
[code]

I guess you want to see the version of `argcomplete` under `~/.local/`

[code]

[2020-06-15 23:03] dirk-thomas commented on #534
I can reproduce the problem with Eloquent (using `5.4.2-3ubuntu3.1`). In Foxy it is working though (using `5.8-3ubuntu1`).

I think this is a duplicate of kislyuk/argcomplete#258. Either you use a newer version of `zsh` or you have to patch the function `_bash_complete` manually (https://github.com/zsh-users/zsh/commit/e2f793e7df7214cc3d80e2fcfe961ed087c860ab):

* type `which _bash_complete`
* cop

[2020-06-16 02:47] dirk-thomas commented on #534
@j-rivero to work on getting a patch upstream.

[2020-06-16 03:13] evshary commented on #534
@dirk-thomas Thank you for the suggestion. The patch works perfectly!!!
It frustrated me a long time about the argcomplete.
You can close the issue if you think it's OK.

[2020-06-17 19:56] clalancette commented on #450
I believe that this was fixed before Foxy.  I haven't seen it in the buildfarmer logs for a few weeks now, at least.  I'm going to go ahead and close this, but feel free to reopen if you think this is still a problem.

[2020-06-17 19:56] #450 closed

[2020-06-18 13:58] #523 closed

[2020-06-23 13:19] ahcorde commented on #525
I have runned this with the Fat binary from https://ci.ros2.org/view/packaging/ and compiling from sources and in both cases I can see the right durability.

[code]

can you double checked this?

[2020-06-23 22:50] audrow opened #541 "[ros2interface] Tests rely on `builtin_interfaces`"
The tests in `ros2interface` use interface types defined in `builtin_interfaces` and effectively checks some of the interface definition's file contents.  This makes it possible for `ros2interface`'s tests to fail when changes are made to `builtin_interfaces`.

In #540 it was proposed to add interface definitions into `ros2interface`.  Doing so will allow `ros2interface` to better control the mess

[2020-06-24 18:08] jacobperron commented on #541
It'd be good to fill out the ticket description to briefly describe what the issue is and optionally a proposed solution.

[2020-06-25 16:36] sloretz commented on #525
@prajakta-gokhale It looks like this was reported in a Foxy prerelease. Do you still see the issue now that Foxy is released? It looks like @ahcorde doesn't see it.

[2020-06-25 16:40] prajakta-gokhale commented on #525
Thanks for looking! I'll try again and provide an update.

[2020-06-26 12:03] fujitatomoya commented on #525
I got the same issue on Ubuntu with source build https://github.com/ros2/ros2/commit/0ee1ca223bcc7185743da1ecccc754b774cd0958, only rmw_cyclonedds can reproduce this issue.

- rmw_fastrtps_cpp

[code]

- rmw_cyclonedds_cpp

[code]

[2020-06-28 21:57] sgvandijk opened #543 "[ros2 pkg create] Exporting executable target can cause issues with ament_target_dependencies"
## Bug report

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Docker
- Version or commit hash:
  - ros:foxy
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
* Use CLI to create package:

        ros2 pkg create --build-type ament_cmake --destination-directory src --library-name test_pkg --node-name test_pkg_node test_pkg
* Create another package that depends on the

[2020-06-30 22:42] dirk-thomas commented on #543
Thank you for the report. You understanding is correct. For the executable the `install()` call should pass the `EXPORT` keyword. Please see #545 for the patch.

[2020-07-01 16:14] #543 closed

[2020-07-09 23:25] jacobperron opened #552 "'test_topic_pub_once' test flaky"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04 and macOS (Mojave)
- Installation type:
  - source
- Version or commit hash:
  - 95bfb056df795b6eef8bb73b165db31fcf2d867a

#### Steps to reproduce issue

See failing CI jobs, for example:

- https://ci.ros2.org/job/nightly_linux_repeated/1925/testReport/ros2topic.ros2topic.test/test_cli/test_cli/
- https://ci.ros2.org/job/nigh

[2020-07-16 17:44] ivanpauno commented on #475
Done in https://github.com/ros2/ros2cli_common_extensions/pull/2.

[2020-07-16 17:44] #475 closed

[2020-07-16 17:45] ivanpauno commented on #475
Thanks @sunbo57123 for the implementation!

[2020-07-20 12:38] #511 closed

[2020-07-29 08:59] heuristicus opened #557 "import_message error when message/module is not found is not informative"
I have been going through the tutorials and made a mistake in the [single package interface](https://index.ros.org/doc/ros2/Tutorials/Single-Package-Define-And-Use-Interface) where I built the `more_interfaces` package in one terminal but did not run `. install/setup.bash` in my other terminal to update the workspace.

Running the publisher for the message in the correctly set up terminal works, b

[2020-07-31 06:20] russkel opened #556 "pkg create: CMake template is quite dated"
The CMake template used is for a very old version of CMake and doesn't follow what is now considered best practices. Given that Foxy requires Ubuntu 20.04 which has a far newer version, 3.16, than the minimum required version of 3.5, should this template be updated to follow best practices [1]?

https://github.com/ros2/ros2cli/blob/f03938e903902890043ac8f5d7b88aafc6b1f563/ros2pkg/ros2pkg/resource/

[2020-07-31 06:34] russkel commented on #556
Disregard, I have no idea what I'm talking about.

[2020-07-31 06:34] #556 closed

[2020-07-31 07:06] dirk-thomas commented on #557
Please see #558 for a proposed patch to print an error message instead of the traceback.

[2020-08-03 15:56] #557 closed

[2020-08-04 22:21] christianrauch opened #560 "rename 'ros2' command to 'ros'"
## Feature request

Consider dropping the `2` from ROS command-line executables and rename the `ros2` to simply `ros` for a simpler CLI syntax.

#### Feature description
The ROS2 command-line tool unnecessarily carries the version number `2`. The version number can be dropped as there are no other conflicting `ros` executables in ROS1.

E.g.:
`ros2 topic list` ⇨ `ros topic list`
`ros2 run` ⇨ `ros

[2020-08-04 23:14] clalancette commented on #560
Can you explain more what the perceived benefits of a rename are?  To me, this seems like it would result in a lot of work, possible confusion with the ROS 1 command-line tools (which are still supported), and a long period of transition.  So there would need to be a really strong benefit to convince me.

[2020-08-05 21:39] christianrauch commented on #560
This is maybe just a personal preference, but a simple `ros` command is just shorter and more memorable than `ros2`, and it is also closer to the ROS1 syntax. I think it is a benefit if the command-line syntax is similar, e.g. `rostopic list` (ROS1) and `ros topic list` (ROS2). I don't see the reason why the command-line interface has to be changed that much between major versions. There is a reas

[2020-08-05 21:49] jacobperron commented on #560
We can have ROS 1 and ROS 2 installed side-by-side, with their respective tools. Therefore, we can run `rostopic list` and `ros2 topic list` in the same shell.

This is supported; this is how [ros1_bridge](https://github.com/ros2/ros1_bridge) works.

[2020-08-05 22:54] jacobperron commented on #419
@hidmic The related PRs have been merged. Is there still work to do to resolve this ticket?

[2020-08-05 23:34] cottsay commented on #552
This is back already, so clearly my change didn't fix it: http://build.ros2.org/job/Fci__nightly-debug_ubuntu_focal_amd64/170/testReport/junit/ros2topic.test/test_cli/test_cli/

[2020-08-07 00:31] christianrauch commented on #560
If this is fully supported, why do I get the warning `ROS_DISTRO was set to 'noetic' before. Please make sure that the environment does not mix paths from different distributions.`? This seems confusing if it is expected that both distributions are sourced at the same time. In any case, there are no conflicting executable names. If you really insist on sourcing both workspaces, you will see that R

[2020-08-07 00:52] clalancette commented on #560
There's no direct conflict with ROS 1 tools, but I think when explaining the tools it is easy to forget the space.

You can source both ROS 1 and ROS 2 in the same workspace; that is supported for the purposes of running the bridge.

There's no technical reason.  But there is a documentation/cultural reason.  I still have to stick by my original opinion that it is too close to the originals (causi

[2020-08-21 13:46] mbuijs opened #563 "Autocompletion for message contents broken since foxy"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04 / docker
- Installation type:
  - Apt packages / prebuilt docker image
- Version or commit hash:
  - ros-foxy-ros2topic: 0.9.7-1focal.20200804.003710
  - For the docker images:
[code]
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclpy (?)

#### Steps to reproduce issue
Make sure the setup.bash is s

[2020-08-24 06:53] fujitatomoya commented on #563
I am not sure what makes this difference between eloquent and foxy, but same approach with https://github.com/ros2/ros2cli/pull/561 could solve the problem.

[2020-08-27 14:31] ivanpauno commented on #525
Closing!
@prajakta-gokhale if this is still a bug, let me know and I will reopen.

[2020-08-27 14:32] ivanpauno commented on #525
I didn't see [this comment](https://github.com/ros2/ros2cli/issues/525#issuecomment-650142908) so this seem to still be a bug.
@ahcorde did you try with cyclonedds?

[2020-08-27 17:22] sloretz commented on #560
The benefit of less typing feels smaller than the risk of confusion, but there will be less potential for confusion when there are no active ROS 1 distros.

I would think it would be okay to add a `ros` alias on the first ROS 2 distro that doesn't have any target platforms overlapping with ROS 1, and deprecate `ros2` when the last ROS 1 distro goes EOL.

[2020-08-27 17:49] ivanpauno commented on #560
It has been discussed in today's triage meeting, as previously commente, renaming `ros2` command as `ros` would case confusion in all platforms where ros2 coexists with ros.

In a future release where `ros2` is the only ros version in the platform, this decision can be reconsidered.

[2020-08-27 17:49] #560 closed

[2020-09-04 05:43] fujitatomoya commented on #525
As far as i see, this still happens.

And when we use cyclonedds `rmw_publisher_get_actual_qos` says RMW_QOS_POLICY_DURABILITY_TRANSIENT_LOCAL after setting RMW_QOS_POLICY_DURABILITY_VOLATILE via `rmw_create_publisher`.

@eboasson friendly ping, if you could share your thought on this?

[2020-09-04 09:19] eboasson commented on #525
@fujitatomoya that's rather interesting, which in this case means it doesn't ring any bell and I don't see this problem when I try it ("Debug" source build on macOS, mid august). It could be some missing initialization somewhere that acts up in some build types and configurations and not in others ...

In any case, I don't quite see how:

https://github.com/ros2/rmw_cyclonedds/blob/a07553e620eb923

[2020-09-05 11:44] fujitatomoya commented on #525
@eboasson

appreciate for your help!!! yes it is weird that some people say it works okay but some don't. maybe i miss something here... 😭 anyway i have reproduction environment, so i will try to get trace information by procedure you provided.

[2020-09-07 02:05] fujitatomoya commented on #525
### Reproducible Procedure

1. start daemon with `fastdds`
[code]

2. start publication via ros2cli with `cyclonedds`
[code]

3. check topic information
[code]

- Note
  - using `cyclonedds` for `ros2daemon`, and topic pub&sub with `fastdds`, it DOES NOT have the issue.
  - I think that user is allowed to use different implementation from ros2daemon as long as it is `dds`, so it should be working.

[2020-09-07 02:06] fujitatomoya commented on #525
@eboasson

[code]

I cannot get the log file `cdds.log`...did i miss something?

[2020-09-07 02:49] fujitatomoya commented on #525
after restart container, I am no longer able to reproduce this issue with https://github.com/ros2/ros2cli/issues/525#issuecomment-687978629. i don't know what to tell, but sorry :cry:  I'll try to find another environment.

[2020-09-07 05:45] eboasson commented on #525
Foolish me ... trying to be helpful giving copy-paste-ready lines and then forgetting the `export CYCLONEDDS_URI` part ...

Hopefully you can find one without much effort 🤞

[2020-09-07 06:26] iuhilnehc-ynos commented on #525
@fujitatomoya

Yes, I can reproduce this issue by your steps. (I agree we can use a different RMW to get information from others)
I can also use the following steps to reproduce it in a container.

- terminal 1

[code]

- terminal 2

[code]

[2020-09-07 06:36] fujitatomoya commented on #525
@iuhilnehc-ynos

thanks for checking!

[2020-09-08 06:42] eboasson commented on #525
@iuhilnehc-ynos this is getting weirder by the comment! So now Cyclone DDS shows the correct durability setting and Fast-RTPS shows the wrong one!

One thing it proves: we really need to know what the publisher process advertises over discovery.

I would appreciate it very much if could you run it with the `CYCLONEDDS_URI` bit I mentioned earlier to get log files from Cyclone **and** run Wireshark

[2020-09-08 07:25] eboasson commented on #525
@iuhilnehc-ynos perhaps you need not do what I asked just now: after I published the comment, I realised that I could try this particular experiment of mixing a Cyclone DDS-based publisher with a Fast-RTPS-based ros2 cli. I get exactly the same result. That's good news.

I've checked with Wireshark:
<img width="572" alt="image" src="https://user-images.githubusercontent.com/16984005/92443875-6a699

[2020-09-08 07:46] iuhilnehc-ynos commented on #525
@eboasson

Yes, that's correct.

I believe you could easy to reproduce this issue. The result of `CYCLONEDDS` log is as your expectation.

After running steps with `terminal 1` above
[code]

About pcapng of Wireshark, I'll provide it after off-working.

[2020-09-08 07:58] iuhilnehc-ynos commented on #525
@eboasson

I used another `export RMW_IMPLEMENTATION=rmw_connext_cpp` for testing, but daemon with fastrtps could get correct information.

[2020-09-08 08:21] eboasson commented on #525
Thanks for checking, my employer requires me to avoid touching Connext because of some less than pleasant interactions in the past ...

Presumably Connext then also includes the durability QoS when it is volatile (you can fairly easily check with Wireshark: record the startup, then look for DATA(w) submessages and look through for the topic name in the expanded parameter list).

By the way, you ca

[2020-09-08 13:18] clalancette commented on #525
Thanks for all of the debugging on this issue, it is really appreciated.

@iuhilnehc-ynos @fujitatomoya Since it seems like this is a bug in Fast-DDS, would one of you mind summarizing the problem and opening a new issue on https://github.com/eProsima/Fast-DDS/issues ?

[2020-09-08 13:46] iuhilnehc-ynos commented on #525
@clalancette

I don't think this bug is in Fast-DDS. IMO, it's because ros2_daemon(rmw_fastrtps) not received QoS information from `ros2cli pub with rmw_cyclonedds_cpp`, so `ros2 topic -v` can't get QoS information from ros2_daemon.

[2020-09-08 14:51] clalancette commented on #525
OK, I misunderstood.  If @eboasson agrees, then I think we'll want to open up an issue there.  Thanks.

[2020-09-08 15:26] eboasson commented on #525
@clalancette and @iuhilnehc-ynos, it is a bug in Fast-DDS: Cyclone DDS relies on the receivers of the discovery data to implement required behaviour and fill in the correct values for QoS settings not explicitly included in the discovery message. The bug here is that Fast-DDS uses the wrong default value (at least for durability).

[2020-09-09 00:30] fujitatomoya commented on #525
@clalancette @eboasson @iuhilnehc-ynos

I am not sure where exactly this problem belongs to yet 🤕 , i just need more time make it clear. I think what we see here is some misunderstanding of syntax between different dds implementation, that will lead the discovery process broken then wrong QoS. that is as far as i can tell. (i guess that we all agree on this.)

### Problem

`ros2 topic info -v` rec

[2020-09-09 02:34] iuhilnehc-ynos commented on #525
@eboasson

Sorry, I think it's my mistake.

FastDDS does have a problem. If `WriterProxyData::readFromCDRMessage` not received durability, its QoS will be `WriterQos m_qos;`

[code]

But I can't find the information in DDSI-RTPS specification about
`In section 9.6.2.2.1 the DDSI-RTPS specification states that for parameters (e.g., durability QoS, a.k.a. PID_DURABILITY) missing from a discovery mes

[2020-09-09 02:49] iuhilnehc-ynos commented on #525
@fujitatomoya

Thanks for your summary.

I noticed this. I think it's also a problem. (About  `_CREATED_BY_BARE_DDS_APP_`, it's located at `rmw_dds_common`, after finishing `duration` issue, I'll continue to look into it.)

[2020-09-09 05:52] eboasson commented on #525
No worries, @iuhilnehc-ynos, there're just too many details to be on top of them all.

Yes, that totally explains it

It is this paragraph:

(Page 169 of DDSI-RTPS 2.3, emphasis mine)

Table 9.11 then says "see DDS specification", which is the big table in the DDS 1.4 spec starting on page 2-104.

It is because it isn't actually set to the default value: the reliability QoS is a pair of kind (best

[2020-09-09 06:08] fujitatomoya commented on #525
When the `CREATED_BY_BARE_DDS_APP` problem is observed, [process_discovery_info RTPSParticipantKey()](https://github.com/ros2/rmw_fastrtps/blob/bbe2ac2e3e63c145e9dabd4f073c62d672521a57/rmw_fastrtps_shared_cpp/include/rmw_fastrtps_shared_cpp/custom_participant_info.hpp#L142) is all zero (confirmed). It should be something like rmw_gid_t `1 64 16 1 -46 123 40 76 -73 127 -106 -118 0 0 1 -63 0 0 0 0 0

[2020-09-09 09:32] iuhilnehc-ynos commented on #525
`FastDDS` expected that it will get `fastdds::dds::PID_PARTICIPANT_GUID` message while getting `DATA(w)` information, but `CycloneDDS` only send `fastdds::dds::PID_PARTICIPANT_GUID` at `DATA(p)` not `DATA(w)`.

[2020-09-09 09:41] iuhilnehc-ynos commented on #525
@eboasson

I appreciate your explanation.

[2020-09-09 11:13] eboasson commented on #525
@iuhilnehc-ynos

This is an interesting. Quoting from section 9.6.2.2 in the DDSI-RTPS spec:

The participant GUID is entirely redundant because it is always the same as the reader/writer GUID with the entity id component replaced by 0x1c1. So in my view the normative text says the participant GUID should be omitted and the referenced table is therefore simply an incomplete list of "forbidden" ite

[2020-09-10 08:59] iuhilnehc-ynos commented on #525
@clalancette

Anyway, I think it's time to pull `eProsima` in. I have created an issue on [Fast-DDS](https://github.com/eProsima/Fast-DDS/issues/1380).

[2020-09-11 02:24] fujitatomoya commented on #525
@eboasson

I see what you mentioned in this thread makes perfect sense.
thanks for the insights, you actually really helped us about specification.

[2020-09-11 10:11] MiguelCompany commented on #525
Regarding missing durability info, this is a bug which is being fixed by eProsima/Fast-DDS#1384

Regarding `PID_PARTICIPANT_GUID`, I've been reading DDSI-RTPS v2.3 once more, and I am interpreting it the following way:

Section 9.6.2.2 indicates that `DiscoveredWriterData` is defined with the following IDL:

[code]

It then says on Table 9.10 that `WriterProxy::remoteWriterGuid` does not need to b

[2020-09-11 22:08] fujitatomoya commented on #525
@clalancette @ahcorde

let me summarize current status in quick,

### Problems

1. Node name is _ros2cli_{pid}, not `_CREATED_BY_BARE_DDS_APP_`
2. Namespace is /, not `_CREATED_BY_BARE_DDS_APP_`
3. Durability is `RMW_QOS_POLICY_DURABILITY_VOLATILE` (run ros2 with durability(volatile) )

### Current Fix

- 1&2 is fixed in https://github.com/eProsima/Fast-DDS/pull/1382
- 3 is fied in https://github.

[2020-09-13 08:32] iuhilnehc-ynos commented on #525
@fujitatomoya

I have confirmed all these issues will be fixed in macOS after https://github.com/eProsima/Fast-DDS/pull/1384 is merged.
(https://github.com/eProsima/Fast-DDS/pull/1382 is already merged.)

[code]

[2020-09-14 05:23] fujitatomoya commented on #525
@prajakta-gokhale
CC: @ahcorde @clalancette

this is taken care by https://github.com/eProsima/Fast-DDS/issues/1380, could you kindly confirm?

[2020-09-22 20:09] LoyVanBeek opened #567 "Failed to load entry point 'list': libpython3.6m.so.1.0: cannot open shared object file: No such file or directory"
Just upgraded my laptop from Ubuntu 18.04 with Eloquent to 20.04 with Foxy.
My workspace in `~/dev_ws` was set up when I was still on 18.04 w/ Eloquent and was untouched during the `do-release-upgrade`.
Once on Foxy, I could not run `ros2 topic list` anymore, with this error:

[code]

After just a bit too long of apt-removing packages, installing them again etc, I figured out that when I did not h

[2020-09-22 21:08] clalancette commented on #567
The problem here isn't really ROS-specific.  Anything you build from source is likely to break across an OS upgrade; a lot of dependencies have probably upgraded and thus the libraries that the source built against probably doesn't exist anymore.

I'm going to close this issue out, since there really isn't anything we can do about it.  We *might* want to put something in the documentation, but aga

[2020-09-22 21:08] #567 closed

[2020-10-10 20:19] JuliusSustarevas opened #569 "param list -t for consistency"
#96  Feature request
ros2 topic list
and
ros2 service list
have the -t parameter to show types. But ros2 param list does not. It would be convinient and consistent if it did.

#### Feature description
"ros2 param list -t" could return param names followed by types

[2020-10-11 13:33] clalancette commented on #569
While I like the idea of the feature, I think we may want to use a different flag than `-t`.  The `-t` flag implicitly means print the ROS *message* type, which is not what you are asking for.  Instead, you are asking for the internal stored type of the parameters.  I'll just throw out `--param-type` as a flag idea for now, but maybe others disagree.

In any case, while I think this is a great ide

[2020-10-11 14:43] JuliusSustarevas commented on #569
Well I personally always wanted params to be ROS Message type which gives a certain nice consistency. You could set some param as a Pose message, set your deadzone speed as a Twist Message etc. But thats a separate feature request i guess

[2020-10-21 14:29] hidmic commented on #419
I believe not. Thanks for bumping @jacobperron.

[2020-10-21 14:29] #419 closed

[2020-10-28 13:13] fujitatomoya commented on #569
@clalancette

since this is tagged with `help wanted`, i did come up with quick candidate. could you take a look at https://github.com/ros2/ros2cli/pull/572?

[2020-10-30 01:54] fujitatomoya commented on #569
@clalancette

friengly ping, i think we can close this.

[2020-10-30 12:27] clalancette commented on #569
Closing since #572 is now merged.

[2020-10-30 12:27] #569 closed

[2020-11-02 22:34] chapulina opened #573 "👩‍🌾 test_with_no_daemon_running failing on Windows Repeat"
The test failed the past 5/6 builds. The first failure was in 2020-10-28:

https://ci.ros2.org/view/nightly/job/nightly_win_rep/2050/testReport/ros2cli.ros2cli.test/test_strategy/test_with_no_daemon_running_3_3_/history/

Failure log:

[code]

[2020-11-06 05:47] cwyark opened #574 "Could not get publisher / subscriptions info from topic through XMLRPC"
Hi, I'm trying to get publisher and subscription info by topic through XMLRPC interface, but get unknown tag when invoking the following functions.

1. get_publishers_info_by_topic(topic_name)
2. get_subscriptions_info_by_topic(topic_name)

## Bug report

**Required Info:**

- Operating System:
  - OSX / Ubuntu 20.04
- Installation type:
  - binary
- Version or commit hash:
  - FOXY latest release

[2020-11-06 12:51] sharminramli commented on #349
this can probably be closed?

[2020-11-06 14:05] clalancette commented on #349
Yeah, good call.  Closing this out.

[2020-11-06 14:05] #349 closed

[2020-11-06 14:18] clalancette commented on #574
Yeah, it looks like the daemon is currently relying on the client to provide `TopicEndpointInfo` somehow.  I'm not entirely sure why.

This isn't likely something we'll look at soon.  But please feel free to open a pull request if you find the issue.

[2020-11-07 15:38] cwyark commented on #574
Looks like the tag name is out of scope from xmlrpc generic type. e.g. <rclpy.topic_endpoint_info.TopicEndpointInfo>. Most xmlrpc client might not know what it is. (http://xmlrpc.com/spec.md)
![image](https://user-images.githubusercontent.com/8067533/98445089-b43e1580-2150-11eb-9954-ebc8f8d8c27e.png)

I think one solution is to write custom handler for these tags in their xmlrpc client tool.

[2020-11-08 14:15] fujitatomoya commented on #574
`get_publishers_info_by_topic` and `get_subscriptions_info_by_topic` returns List[TopicEndpointInfo], so general xmlrpc client cannot handle `TopicEndpointInfo` since it is unaware of. I do not think custom handler would be a good idea since burden goes to user. instead of doing that, maybe we could replace `TopicEndpointInfo` into `List` and `Tuple` with generic types.

[2020-11-09 02:55] cwyark commented on #574
Agree with that, maybe we can change ``rclpy.topic_endpoint_info.TopicEndpointInfo`` and ``rclpy.topic_endpoint_info.TopicEndpointTypeEnum`` to other generic type.

## rclpy.topic_endpoint_info.TopicEndpointInfo

I look into the structure from wireshark.
![image](https://user-images.githubusercontent.com/8067533/98494480-12194d00-2278-11eb-8bad-4d3c70c885ca.png)
In a short term, it will be like th

[2020-11-17 19:43] clalancette commented on #573
The last failure of this was in Nov 5: https://ci.ros2.org/view/nightly/job/nightly_win_rep/2053/#showFailuresLink .  Since then, we've had almost 2 weeks worth of tests and no failure.  I don't have a pointer to something that definitively fixed this, but given how often it was failing before, I would say that this is fixed.  So I'm going to close this, but feel free to reopen if it pops back up.

[2020-11-17 20:10] azeey opened #576 "👨‍🌾 test_with_no_daemon_running is flaky on macOS and Windows"
Failing builds:
- 2020-11-15: https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/2158/testReport/junit/ros2cli.ros2cli.test/test_strategy/test_with_no_daemon_running_3_3_/
- 2020-10-29: https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/2140/testReport/junit/ros2cli.ros2cli.test/test_strategy/test_with_no_daemon_running_3_3_/

Stacktrace:

[code]

[2020-11-18 01:45] jacobperron commented on #576
Same as https://github.com/ros2/ros2cli/issues/573, but on OSX. It appears platform independent.

[2020-11-18 01:45] jacobperron commented on #573
Looks like it's still an issue: https://github.com/ros2/ros2cli/issues/576

[2020-11-18 01:48] jacobperron commented on #552
I think this was actually fixed by the referenced PR (for master).

The Foxy CI failure should have been fixed the backport of this in https://github.com/ros2/ros2cli/pull/565.

[2020-11-18 01:48] #552 closed

[2020-11-18 02:08] jacobperron opened #577 "test_echo_pub.TestROS2TopicEchoPub failing (Rdev and RPr)"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 0.10.0
- DDS implementation:
  - Fast-DDS

#### Steps to reproduce issue

I haven't been able to reproduce any of the test failures locally.

#### Expected behavior

All tests pass.

#### Actual behavior

test_echo_pub.TestROS2TopicEchoPub is failing in the latest

[2020-11-19 11:51] mralgebra commented on #563
I met the same problem when running “ros2 node list“ or other ros2 commands.
At last I have to restart my machine。

[2020-11-21 12:56] RobertWilbrandt opened #578 "[ros2run] Argument passing to node executable handles -- inconsistently"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04.1 LTS
- Installation type:
  - binaries
- Version or commit hash:
  - Version 0.9.7
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
I created a small reproduction repo over at [ros2run_arg_test](https://github.com/RobertWilbrandt/ros2run_arg_test).
It contains one sm

[2020-11-24 09:21] fujitatomoya commented on #577
I cannot reproduce this issue locally either. So far I am not sure what is wrong with test code, any clues? maybe something we can do is to wait for number of publication or subscription before CLI is issued?

[2020-11-27 05:41] mickeyouyou commented on #529
Is it enable in command `ros2 topic echo --qos-durability=transient_local `   option like --qos-durability=transient_local ?

[2020-11-27 06:40] mickeyouyou commented on #281
why can not use in dashing version ?

[2020-12-19 22:47] DrakeProvost opened #580 "Inconsistent output of “ros2 param list”"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 20.04.1 LTS (running as WSL2 on Windows 10)
- Installation type:
  -  from binaries
    - (using [this Docker container](https://github.com/NIURoverTeam/Dockerfiles/tree/master/ros2_foxy))
- Version or commit hash:
  -  Foxy
- DDS implementation:
  -  not sure
- Client library (if applicable):
  -  N/A

#### Steps to reproduce issu

[2020-12-21 22:40] jacobperron commented on #577
The past couple dev jobs haven't showed this error, but it looks like a recent PR job failure could be related: https://build.ros2.org/job/Rpr__ros2cli__ubuntu_focal_amd64/128/testReport/

Looks like a rare flake.

[2021-01-06 07:24] hyunseok-yang commented on #515
Hi, anyone solved this question?

[2021-01-06 13:33] clalancette commented on #515
It is still an open feature request, as far as I know.  If you'd like to jump in and try to implement it, that would be welcome.

[2021-01-07 09:42] fujitatomoya commented on #515
@doisyg @hyunseok-yang

could you kindly try https://github.com/ros2/ros2cli/pull/581 to see if you can have what you want? I did make sure that ros2cli node is constructed with `use_sim_time` is true if option is enabled. it would be really appreciated.

[2021-01-08 09:10] fujitatomoya commented on #580
I cannot reproduce this problem with following environment.

- Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz
- docker version 19.03.8, build afacb8b7f0
- docker container ubuntu:20.04 (host is also ubuntu 20.04) with binding display and x socket
- ros2 rolling source code build
- start turtle sample node (https://index.ros.org/doc/ros2/Tutorials/Parameters/Understanding-ROS2-Parameters/#ros2params)
- us

[2021-01-12 10:27] nielsvd opened #582 "Nodes missing from `ros2 node list` after relaunch"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Foxy binaries
- Version or commit hash:
  - ros-foxy-navigation2 0.4.5-1focal.20201210.084248
- DDS implementation:
  - Fast-RTPS (default)
- Client library (if applicable):
  - n/a

#### Steps to reproduce issue
###### 1
From the workspace root, launch (e.g.) a TurtleBot3 simulation:
[code]
Then, in a

[2021-01-20 22:21] #541 closed

[2021-01-21 08:54] fujitatomoya opened #586 "ros2 param list does not work with multiple rmw implementaion"
## Bug report

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source code
- Version or commit hash:
  - https://github.com/ros2/ros2/commit/57b618fb80e6e93fc0323650378f1630a7d4773b
- DDS implementation:
  - multiple rmw implementation Fast-DDS and Cyclonedds
- Client library (if applicable):
  - rclcpp and rclpy

#### Steps to reproduce issue

- `talker` with cyclonedds and `ros2 pa

[2021-01-21 13:45] clalancette commented on #586
Services do not work cross-vendor at the moment; since parameters are built on services, they won't work either.  This is a result of there being no standard way to do services in DDS.

That being said, the crash in the Fast-DDS talker when called from a Cyclone service is worrying.  That should not happen.  @EduPonz @MiguelCompany could you take a look?

[2021-01-21 14:14] MiguelCompany commented on #586
Seems like a deserialization exception we are not capturing. I will take a look.

[2021-01-22 00:59] fujitatomoya commented on #586
okay, i thought that should work. probably it would be nice to have description about the limitation.

[2021-01-22 10:41] MiguelCompany commented on #586
I have checked that the `std::bad_alloc` is thrown from Fast CDR code [here](https://github.com/eProsima/Fast-CDR/blob/f1c66e88ed25bc1f27b8465d7f9f6b22e62da7e3/include/fastcdr/Cdr.h#L2581).

There are two problems here:
1. Fast CDR should check the length before resizing the vector.
2. The rmw should capture Fast CDR exceptions and discard the received message

The first one is being solved by ePr

[2021-01-22 12:58] MiguelCompany commented on #586
@fujitatomoya @clalancette Please see ros2/rmw_fastrtps#505 for the fix on `rmw_fastrtps`

[2021-01-22 13:42] clalancette commented on #586
Agreed.  I thought we had something in the documentation, but I can't find it.  @fujitatomoya please feel free to add something to https://github.com/ros2/ros2_documentation explaining this limitation.

Great!  Thanks for the fast turnaround.

[2021-01-23 02:10] fujitatomoya commented on #586
@MiguelCompany

wow, that was quick 💨  i will verify both of them to check if that works just in case.

@clalancette

i will consider this, and will come back to you with PR.

[2021-01-23 09:11] fujitatomoya commented on #586
@MiguelCompany with both fixes, i cannot reproduce the core dump. thanks for the fixes.

i will close this issue after,

- https://github.com/eProsima/Fast-CDR/pull/98 merged
- https://github.com/ros2/rmw_fastrtps/pull/505 merged
- documentation is updated

[2021-01-25 09:56] hsgwa opened #587 "Topic echo uses print function with flush=False"
## Bug report

As the print function is the default (flush=False), output buffer blocks piped outputs until filled.
https://github.com/ros2/ros2cli/blob/master/ros2topic/ros2topic/verb/echo.py#L173

I think "echo" should flush output with every message.

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - from source
- Version or commit hash:
  - rolling (master branc

[2021-01-25 14:08] v-lopez opened #589 "ros2 param load parameters"
## Feature request

#### Feature description
A ros2 param verb for loading a parameter file into a node. Parameters currently can only be dumped from the cli interface, but to load them they must go through the launch interface.

[2021-01-25 14:19] clalancette commented on #589
That seems useful.  Please feel free to open a PR with that new functionality.

[2021-01-26 20:25] clalancette commented on #587
See https://github.com/ros2/ros2cli/pull/588#issuecomment-767806014 for why I don't think we should fix this in the source code.

[2021-01-26 20:25] #587 closed

[2021-02-01 10:55] nnmm opened #593 "Warn about QoS mismatch in ros2 topic echo"
## Feature request
`ros2 topic echo` should print a warning or exit with a message as soon as a publisher with stricter QoS is detected.

#### Feature description

It could be a great usability improvement if `ros2 topic echo` would make an effort to use a matching subscription QoS. For a previous discussion, see #156. However, I think the tool needs warnings about QoS mismatches as a prerequisite

[2021-02-01 11:02] nnmm commented on #593
Actually, I think https://github.com/ros2/ros2cli/pull/410 already closes this, since it continually listens for warnings. Sorry, I only searched the issues for duplicates.

[2021-02-01 11:02] #593 closed

[2021-02-01 11:30] nnmm opened #594 "Try to autodetect matching QoS in `ros2 topic pub/echo`"
## Feature request
It could be a great usability improvement if `ros2 topic echo` would make an effort to use a matching subscription QoS, and similarly for `pub`. For a previous discussion, see #156. The basic idea would be (talking about `echo` but the same applies to `pub`):

* When all publishers have the same/similar enough QoS, it could be possible to find a matching QoS profile and use that

[2021-02-02 00:56] jacobperron opened #595 "Disable output buffering by default"
## Feature request

#### Feature description

The current default of Python buffering output can lead to undesirable behavior when working with `ros2cli` tools. For example,

    ros2 echo /chatter | grep "Hello"

won't output messages right away unless I disable buffering with `PYTHONUNBUFFERED=1`.

I've created this ticket to discuss if we should default to disabling output buffering. Though we'

[2021-02-02 01:25] fujitatomoya commented on #595
+1 for disabling output buffer default. and we can guide user how to enable buffer it if user wants. i think that could be more friendly for user.

[2021-02-03 14:26] clalancette commented on #595
I'm OK with changing the default behavior of the CLI to be unbuffered by default.  I just want to make sure that:

1. All of the CLI tools are consistent, and
2. That there is a way to go back to buffered mode if the user wants

[2021-02-04 23:25] fujitatomoya commented on #586
since https://github.com/eProsima/Fast-CDR/pull/98 and https://github.com/ros2/rmw_fastrtps/pull/505 are merged, the rest is to update documentation which tells that services do not work cross-vendor rmw implementation. i will assign to this on me.

[2021-02-09 10:42] hyunseok-yang commented on #515
@fujitatomoya Thanks. I've forgot to check your guys comment :(
I will have try the #581 code!

[2021-02-09 14:53] v-lopez commented on #582
I'm seeing something similar with gazebo as well.

The interesting thing is that if I do:
`ros2 node list` I get 0 nodes.

If I do `ros2 node list --no-daemon` I get the list of nodes.

Restarting the daemon with `ros2 daemon stop; ros2 daemon start` also fixes the issue

[2021-02-10 00:41] fujitatomoya commented on #582
I think that this is expected behavior for ros2 daemon, it is well described [what-is-ros2-daemon](https://answers.ros.org/question/327348/what-is-ros2-daemon/).

[2021-02-10 08:03] v-lopez commented on #582
Is it? I understood it as a cache of nodes and their subs/pubs/services etc... that should be transparent to use.
But this cache is getting outdated and only restarting the daemon fixes it.

I could understand that it keeps some nodes as "alive" in the cache, as it takes some time of them being unresponsive before eliminating them. But I am starting new nodes and they do not show up on any command

[2021-02-10 08:22] fujitatomoya commented on #582
Ah, i see. you are saying

problem-1: old cache can be seen, and will not be cleaned?

problem-2: cache does not get updated?

Am i understanding correct?

[2021-02-10 08:38] v-lopez commented on #582
Exactly, I've seen both issues.

problem-1: Cache (daemon) retaining  nodes killed long ago.
problem-2: Cache (daemon) not adding new nodes.

I'm trying to find reproducible examples, currently I can make it happen 100% of the time, but on a complex setup involving ros2_control with 2 controllers and launching and stopping navigation2.

There may also be underlying rmw issues causing problem-2, si

[2021-02-12 18:51] clalancette commented on #563
This is now fixed on the master branch with #570, so I'm closing this out.

[2021-02-12 18:51] #563 closed

[2021-02-13 17:48] #589 closed

[2021-02-17 23:23] #515 closed

[2021-02-18 16:25] ksuszka opened #598 "Discovery fails if daemon is started as root"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: official foxy docker image
- Version or commit hash:
  -
- DDS implementation: rmw_fastrtps_cpp
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

#### Expected behavior
Topic /test should be visible on topic list

#### Actual behavior
Topic /test is not present.

#### Additional inf

[2021-02-18 16:34] ksuszka commented on #598
Small update. I had previous ros:foxy image on my machine. I've updated to the latest version. Now this issue occurs always as the latest packages are already installed in this image.

[2021-02-19 04:23] fujitatomoya commented on #598
@ksuszka

thanks for the issue, i confirmed the problem with `ros:foxy` docker image.

and i also confirmed that this does not happen with `ros:rolling`, could you check the image named `ros:rolling`?

- rmw_cyclonedds

[code]

- rmw_fastrtps

[code]

[2021-02-19 08:46] ksuszka commented on #598
Yep, I confirm that with rolling it is working as expected.

[2021-02-19 09:28] ksuszka commented on #598
After more digging, it seems to work in the latest foxy image if I install and use rmw_cyclonedds_cpp.

Also I was able to digout in local docker cache some image built on top of ros:foxy image from two months ago, and it is working in that image and it stops working if I upgrade:
[code]

[2021-02-19 09:40] doisyg commented on #563
I am having the exact same issue with the master branch compiled from source

[2021-02-19 09:46] doisyg opened #599 "[ros2 action send_goal] autocompletion"
## Feature request

#### Feature description
It would be incredibly useful to have auto-completion on the `ros2 action send_goal` cli tool (since there is no action_tool gui in ROS2, it is very tedious to debug actions at the moment)
The most needed auto-completion would be the goal message fields, but it would be nice to have it too for the action name and the action type.

[2021-02-19 13:32] clalancette commented on #563
What's the hash of `ros2cli` that you are using?

[2021-02-19 13:37] clalancette commented on #599
This should work as of #570 .  I just tested it locally, and it worked for me here.  So I'll close this one out.

[2021-02-19 13:37] #599 closed

[2021-02-19 14:46] doisyg commented on #563
https://github.com/ros2/ros2cli/commit/7bea45f0e7d5e75cff0e57da79ba00d73a8330e2

Compiled from source, with rolling installed and `ros-rolling-ros2cli`removed. Could the executable come from anywhere else ?

This is what I get if pressing tab after `ros2 topic pub /cmd_vel geometry_msgs/msg/Twist  ` (including space):
[code]

And this, if pressing tab after `ros2 topic pub /cmd_vel geometry_msgs/m

[2021-02-19 14:50] clalancette commented on #563
Ah, you need to put it in quotes.  Like this:

[code]

[2021-02-19 15:12] doisyg commented on #563
Just tried with quotes `ros2 topic pub /cmd_vel geometry_msgs/msg/Twist "`:
[code]
But if putting quote + l, it works `ros2 topic pub /cmd_vel geometry_msgs/msg/Twist "l`:
[code]

[2021-02-19 15:13] doisyg commented on #599
Amazing, it works, but with the same limitation for me as I documented here : https://github.com/ros2/ros2cli/issues/563
I need to put a quote + the first letter of the first field of the goal message for the auto-completion to work

[2021-02-20 03:03] fujitatomoya commented on #598
@ksuszka i am not sure which exact fix is related to this issue or introduced. but something you need is up-to-date ros:foxy image with rmw_fastrtps, right?

[2021-02-20 18:51] ksuszka commented on #598
No, sorry, I probably wasn't clear.
It was working in official ros:foxy image two months ago. This image had ros-foxy-fastrtps 2.0.1 and ros-foxy-rmw-fastrtps-cpp 1.2.2.
It is not working in the latest image with ros-foxy-fastrtps 2.0.2 and ros-foxy-rmw-fastrtps-cpp 1.2.4. So it seems that the latest changes broke something.

[2021-02-23 01:11] amussell opened #601 "Ros2 run doesn't indicate a segfault when it occurs."
## Bug report
ros2 run doesn't print that a segfault occurred when one occurs making it look like the program just exited.
**Required Info:**

- Operating System:
  Ubuntu 20.04
- Installation type:
  apt
- Version or commit hash:
  foxy
- DDS implementation:
  default
- Client library (if applicable):
  rclcpp

#### Steps to reproduce issue
Run a program that segfualts with ros2 run.

#### Expect

[2021-02-24 02:44] jacobperron opened #603 ""ros2 node info --verbose" raises exception (rmw_cyclonedds_cpp)"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 0.11.0
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Run a high frequency publisher, e.g. with image tools:
[code]

In another shell, query verbose info about the topic

[code]

#### Expected behavio

[2021-02-24 02:45] jacobperron commented on #603
@eboasson Any ideas?

[2021-02-24 11:17] eboasson commented on #603
The cause is that the XML-RPC used by the daemon treats history depth as a signed integer and refuses to marshal a history depth ≥ 2\*\*31. The Cyclone RMW layer returns the history depth reported by Cyclone as an unsigned integer, and that happens to end up as 2\*\*32-1 for a keep-all history.

The depth is irrelevant for a keep-all history, so it can be dealt with by reporting 0 instead (https:/

[2021-02-26 06:56] fujitatomoya commented on #598
https://github.com/eProsima/Fast-DDS/releases/tag/v2.0.2

CC: @MiguelCompany @IkerLuengo any thoughts?

[2021-02-26 07:56] MiguelCompany commented on #598
Shared memory transport is active by default since Fast DDS v2.0.2, so I think this is related to eProsima/Fast-DDS#1750

We are currently developing a fix that should avoid this issue. It will basically detect the situation and fallback to UDP communication in that case.

[2021-02-26 21:32] azeey opened #604 "👨‍🌾 [ros2param] TestVerbList.test_verb_list_filter flaky"
## Bug report

**Required Info:**

- Operating System:
  - macOS Mojave
- Installation type:
  - source
- Version or commit hash:
  - c453417b88792107a607ca46fa346fb53c765f44
- DDS implementation:
  - RTI Connext
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

The test has failed [5](https://ci.ros2.org/job/nightly_osx_repeated/2265/testReport/ros2param.ros2param.test/tes

[2021-02-26 21:39] azeey commented on #604
Failed on linux as well https://ci.ros2.org/job/nightly_linux_repeated/2209/testReport/ros2param.ros2param.test/test_verb_list/test_verb_list/

[2021-03-01 17:49] #604 closed

[2021-03-03 20:59] gonzodepedro commented on #594
I'm working on changes to implement partially some of this changes into ros2 topic echo. I have some questions:

1. Should this be circunscribed only to QoS profiles that come with ros2? or should it handle other possible combinations of QoS parameters?
2. With current default QoS parameters (best_effort, volatile), the echo subscriber should be able to receive messages from any publisher. But if

[2021-03-03 22:38] jacobperron commented on #594
I think it should handle any possible combination of QoS policies. I.e. we shouldn't limit ourselves to the preset profiles as users are free to create custom profiles.

I think that sounds reasonable.

Maybe we don't have to detect when a new publisher joins exactly, rather we can detect when there's a new publisher with an incompatible QoS. There is a callback API that can let us know when a new

[2021-03-04 00:27] jacobperron commented on #594
Related rosbag2 ticket: https://github.com/ros2/rosbag2/issues/601

[2021-03-04 00:31] jacobperron commented on #594
Another potential issue we should consider is *how* we should decide if two QoS policies are compatible or not. The rules laid out [here](https://docs.ros.org/en/foxy/Concepts/About-Quality-of-Service-Settings.html#qos-compatibilities) are specific to DDS implementations. We probably want to make sure that the CLI tools work reasonably with different kinds of RMW implementations too. Maybe we coul

[2021-03-04 18:09] audrow commented on #582
Probably related to https://github.com/ros2/rmw_fastrtps/issues/509.

[2021-03-05 00:41] fujitatomoya commented on #582
could be related to https://github.com/ros2/rmw_fastrtps/pull/514 if the communication is localhost?

[2021-03-09 05:22] BrettRD commented on #582
I'm seeing this bug on a project with five nodes, FastRTPS, native Ubuntu install.

I'm using ros2 launch files, everything comes up nicely the first couple of times, but eventually `ros2 node list` stops seeing all of the nodes (which are definitely running).
At the same time, `ros2 param` stops being able to interact with the hidden nodes,
and `ros2 topic list stops` showing all of the topics.

[2021-03-09 05:34] fujitatomoya commented on #582
@BrettRD

if your problem is related to https://github.com/ros2/rmw_fastrtps/pull/514, it would be really appreciated to try https://github.com/ros2/ros2/tree/foxy branch to check if you still meet the problem.

[2021-03-09 07:28] BrettRD commented on #582
@fujitatomoya
I'm currently running ros2 from apt, and this is pretty tedious to replicate with any confidence, so I'd like a sanity check on a procedure.

I'll try the following:
rebuild the workspace from scratch `rm -rf install/ build/` using ros from `/opt/ros/foxy/setup.bash`,
reset the `ros2 daemon`
launch and tear down the application a bunch and count how many times it launches before `ros

[2021-03-10 17:58] shonigmann opened #607 "ros2 commandline message autocompletion needs reformatting to be usable"
## Bug report

**Required Info:**

- Operating System:
  -
  - Ubuntu 20.04
- Installation type:
  -
  - From binaries (for everything that I think is relevant to this issue, at least)
- Version or commit hash:
  - ros-foxy-ros2cli : 0.9.8-1focal.20210225.220420
  - ros-foxy-ros2cli-common-extensions : 0.1.0-1focal.20210225.235201

#### Steps to reproduce issue

Listener.py
[code]

Terminal 1:
[co

[2021-03-10 18:07] clalancette commented on #607
This was fixed on the `master` branch in #570 .  I think we just need to backport that to Foxy.  @shonigmann are you interested in taking a crack at backporting it and opening a PR against the `foxy` branch?

[2021-03-10 21:06] shonigmann commented on #607
Thanks for the quick response - that's good to know.

I can try to take a crack at backporting, though I'm not sure I'll have time until the weekend

[2021-03-10 22:25] tfoote opened #608 ":farmer: ros2param dump and load tests failing"
## Bug report

rosparam dump and load tests are crashing on linux and osx in our nightly builds.

**Required Info:**

- Operating System:
  - Linux, and OSX
- Installation type:
  - nightly CI
- Version or commit hash:
  - master
- DDS implementation:
  - rmw_cyclonedds_cpp

#### Steps to reproduce issue

Tests with the failures last night:

* https://ci.ros2.org/job/nightly_linux_debug/1863/testR

[2021-03-10 23:22] clalancette commented on #608
So I was able to reproduce this locally.  When I backed out all of the changes that went into rclpy yesterday and today, it went away.  That means that this is likely one of ros2/rclpy#703, ros2/rclpy#696, ros2/rclpy#701, or ros2/rclpy#702 .  @sloretz @cottsay Can you please take a look?

[2021-03-11 01:46] cottsay commented on #608
Regression is definitely caused by ros2/rclpy#701. I opened a PR to revert the change, which I'll merge before nightlies unless I find the bug: ros2/rclpy#710.

[2021-03-11 03:58] #608 closed

[2021-03-12 05:23] BrettRD commented on #582
I have a result! -- Not fixed.

I built from source (55 minutes build time, after tracking down additional deps), and my build does contain ros2/rmw_fastrtps#514.
I did not source /opt/ros/foxy/setup.bash, so I'm using foxy latest.

In order to trigger this bug, I have to sigint `ros2 launch` before all the nodes are up
loading and closing fast enough to see duplicate nodes (which age out normally

[2021-03-12 17:35] audrow commented on #601
I was able to confirm this behavior.

@amussell, feel free to open a PR for this and ping me as a reviewer.

[2021-03-14 07:29] fujitatomoya commented on #607
@shonigmann Just FYI, i created backport PR https://github.com/ros2/ros2cli/pull/609

[2021-03-14 17:33] shonigmann commented on #607
@fujitatomoya amazing, thanks!

[2021-03-14 17:33] #607 closed

[2021-03-15 17:22] gcullie opened #610 "NodeStrategy init Hanging"
https://github.com/ros2/ros2cli/blob/094bcd9d8ba0a381f3598eeaba03eb45ed3d2df1/ros2cli/ros2cli/node/strategy.py#L25

Hangs within this method.  Issue: #ros2/ros2/issues/1093

can recreate with command:
`ros2 topic list (hangs with constant increase of memory allocation until manually killed)`

and directly recreate with:
[code]
Environment:
[code]

[2021-03-16 04:29] fujitatomoya commented on #610
@gcullie thank you for opening issue!

so far, i was unable to reproduce this issue...

- amd64
  - AMD Ryzen 9 3900X 12-Core Processor
  - ros-foxy-ros-base: 0.9.2-1focal.20210226.000028
  - `while true; do ros2 topic list; done` does not hang for 30mins
- aarch64
  - Cortex-A72 (Raspi4)
  - ros-foxy-ros-base: 0.9.2-1focal.20210226.033419
  - `while true; do ros2 topic list; done` does not hang f

[2021-03-17 14:55] mjcarroll commented on #573
This has been failing for the past 60 builds on nightly_win_rep, I think it's still an issue.

https://ci.ros2.org/job/nightly_win_rep/2184/testReport/ros2cli.ros2cli.test/test_strategy/test_with_no_daemon_running_3_3_/

[2021-03-17 15:37] clalancette commented on #573
Yeah, it is likely still an issue.  It looks to be platform-independent though (see #576), so I'm going to reclose this one and update the description of #576 instead.

[2021-03-17 15:37] #573 closed

[2021-03-17 15:37] clalancette commented on #576
Also failing on Windows repeated: https://ci.ros2.org/job/nightly_win_rep/2184/testReport/ros2cli.ros2cli.test/test_strategy/test_with_no_daemon_running_3_3_/

[2021-03-18 16:09] bijoua29 commented on #610
I am having a similar issue too where 'ros2 topic list' and 'ros2 node list' hang. I am also running in a docker image on Ubuntu 20.04. It seems it finally works maybe after rebooting the host (at least I did that and it started working).

ros-foxy-ros-base version: 0.9.2-1focal.20210106.200442

[2021-03-19 16:08] audrow commented on #610
I'm also not able to reproduce this in a Foxy docker container.

Any other suggestions on reproducing this?

[2021-03-19 16:35] bijoua29 commented on #610
I'm using osrf/ros:foxy-desktop as the base image for my docker. The issue is random and I can't really detect a pattern to it yet. It happens when I run my application and then I want to list topics and nodes. Closing the application doesn't seem to help.  When it happens, only a reboot of the host seems to fix it. Anyway, I will keep trying to get more information on the failure mode.

[2021-03-19 16:41] audrow commented on #580
Hey @DrakeProvost, thanks for submitting the issue.

I tried it in a Foxy Docker container after installing `ros-foxy-turtlesim`, and I wasn't able to reproduce the issue. I ran @fujitatomoya's command above (thanks, @fujitatomoya) for several minutes and things seemed as expected. (I also ran `while true; do ros2 param list; done` for a few minutes to confirm I wasn't missing things in the output

[2021-03-19 16:44] audrow commented on #610
I'll give it a try on the same docker image. I've been using `ros:foxy`.

[2021-03-19 18:01] bijoua29 commented on #610
Yeah. All I can say is that it is not very repeatable but it happens about once or twice a day for me in repeated use. Will keep trying to gather more information. If there is something you want me to look at when this happens, let me know.

[2021-03-20 23:13] DrakeProvost commented on #580
Hi @audrow and @fujitatomoya, thanks for replying. I was able to reproduce this issue with the `osrf/ros:foxy-desktop` docker container. Please let me know if you need more environment information than what I've provided.

### Environment

* OS: Windows 10 Home, version 10.0.19041 Build 19041
* Processor: Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz, 2201 Mhz, 2 Core(s), 4 Logical Processor(s)
* Docke

[2021-03-23 08:32] bmagyar opened #612 "Next release to Foxy"
Hey guys,

Would it be possible to push a release to Foxy soonish? We at `ros2_control` have been blocked for quite a while waiting for https://github.com/ros2/ros2cli/pull/596 to be available so we can advance controller tooling.

You'd help avoiding grey hair for many `ros2_control` users ;)

[2021-03-24 21:52] audrow commented on #612
Hi @bmagyar, I made a release here: https://github.com/ros/rosdistro/pull/28824.

[2021-03-24 21:57] Karsten1987 commented on #612
thanks @audrow

[2021-03-24 21:57] #612 closed

[2021-03-25 20:33] matthews-jca opened #614 "Topic: Pub and Echo missing duration and liveliness QOS options"
----
## Feature request

#### Feature description
The topic verb, both pub and echo, don't allow for specification of the duration and liveliness QOS profile settings

https://github.com/ros2/ros2cli/blob/master/ros2topic/ros2topic/api/__init__.py#L161

[2021-03-26 01:36] fujitatomoya commented on #580
@DrakeProvost

i was unable to have this problem on my Linux environment. sorry cannot find any windows machine with WSL2 though...

[2021-03-26 13:34] bmagyar commented on #612
Thanks guys!

[2021-04-08 22:39] tim-fan opened #619 "ros2pkg.api.create_package_environment: handle exports"
## Feature request

#### Feature description

In brief, I'm requesting [package.xml.em](https://github.com/ros2/ros2cli/blob/1d1cad3f066a0a43f949d665830bbc772e13d913/ros2pkg/ros2pkg/resource/package_environment/package.xml.em) be updated to allow setting of `export` tags, and [`create_package_environment`](https://github.com/ros2/ros2cli/blob/1d1cad3f066a0a43f949d665830bbc772e13d913/ros2pkg/ros2pk

[2021-04-16 15:41] clalancette opened #624 "`ros2 topic pub` doesn't publish until after first period has expired"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04, arm64
- Installation type:
  - Debian packages
- Version or commit hash:
  - ROS Rolling, package version 0.13.0-1
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

In terminal 1, run:
[code]

In terminal 2, run:
[code]
(that is, publish once every 10 seconds)

##

[2021-04-16 16:55] audrow commented on #619
Hi @tim-fan, you're right: it is weird that the export field is not used by `create_package_environment`. Feel free to make a pull request for this - you can @ me if you need any help or need a review.

[2021-04-16 18:51] clalancette opened #625 "`ros2 param dump` silently overwrites existing file"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Debian packages
- Version or commit hash:
  - ros-rolling-ros2param 0.13.0-1
- DDS implementation:
  - CycloneDDS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

In terminal 1:
[code]

In terminal 2:
[code]

#### Expected behavior

When `ros2 param dump` is choosing a filena

[2021-04-16 22:00] hidmic commented on #625
Sometimes it is practical for it to just overwrite it. Perhaps making opt-in would be best.

[2021-04-19 06:06] fujitatomoya commented on #624
as far as i know, the current behavior for `once` and `rate` is consistent with ROS1 `rostopic` command. besides, if `rate` is specified by user, probably frequency is what user cares, not starting timepoint.

but one use case that i think of is, if frequency is long enough (like 10 seconds), probably waiting that time window until 1st message would be not really useful.

[2021-04-19 12:33] clalancette commented on #624
Yeah, that's exactly where I ran into it.  My example above is a very long time period, and thus the initial message doesn't get published until after the first 10 seconds.

This honestly isn't a huge deal; I doubt too many people are using a 0.1 Hz rate.  I still think it should be fixed, but changing behavior at this point in Galactic is probably a bad idea.  I'll move it to the H-Turtle board i

[2021-04-19 13:05] clalancette commented on #625
Yeah, I'd be fine with a `--force` or `--overwrite` flag to cause it to always overwrite.  I just think that the current behavior could lead to data loss, where I was storing something I actually wanted in `turtlesim.yaml`, and running `ros2 param dump /turtlesim` in the same directory just overwrites it.

[2021-04-19 21:32] sloretz commented on #625
What if the default were to write to stdout, with an option to write to a named file? Then overwriting is no big deal because the user had to give a filename to write to.

[2021-04-19 22:41] clalancette commented on #603
I did some research here, and it turns out that XML-RPC only supports 4-byte signed integers: http://xmlrpc.com/spec.md .

The generally recommended workaround is to encode parameters as strings (and then do the conversion back and forth to an integer), or not use XML-RPC at all.  There is also the workaround that @eboasson suggested.  Given where we are in Galactic, moving away from XML-RPC isn't

[2021-04-20 12:45] clalancette commented on #625
That's a pretty good idea, I like it.  This is also more Unix-y; you could always do `ros2 param dump /turtlesim > turtlesim.yaml`.

The downside is that this breaks compatibility with earlier releases.  That is, in Foxy, if you do `ros2 param dump /turtlesim`, by default it writes to a file.  If you then pass `--print`, it prints to stdout.  If we were to make this change, then in Galactic `ros2

[2021-04-20 19:31] clalancette opened #629 "ros2 daemon XML-RPC can't represent 64-bit integers"
While investigating https://github.com/ros2/ros2cli/issues/603 , we found out that XML-RPC only supports 32-bit signed integers: http://xmlrpc.com/spec.md .  Since this is used as the communication mechanism between the ros2 daemon and clients, this could be a problem in the future.  We worked around that problem for the above issue by forcing the depth number in question to 0 (see https://github.

[2021-04-20 22:52] sloretz opened #630 "Flaky tests `test_verb_load` `test_verb_list` can't create a daemon OSError Errno 99"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu Focal, x86 and arm64
- Installation type:
  -
- Version or commit hash:
  -  https://github.com/ros2/ros2cli/commit/a4daa7672f287997d1345a44ebb9e0c3d0c490b6 for sure
- DDS implementation:
  - default
- Client library (if applicable):
  - n/a

#### Steps to reproduce issue

???

#### Expected behavior

The tests would all pass

####

[2021-04-21 12:42] clalancette commented on #629
From https://github.com/ros2/rmw_cyclonedds/pull/305#issuecomment-823818907 :+1:

[2021-04-21 12:42] #603 closed

[2021-04-21 14:51] ivanpauno commented on #630
Errno 99 is EADDRNOTAVAIL, which for `connect()` means:

         (Internet domain sockets) The socket referred to by sockfd
         had not previously been bound to an address and, upon
         attempting to bind it to an ephemeral port, it was
         determined that all port numbers in the ephemeral port
         range are currently in use.  See the discussion of
         /proc/sys/net/ipv4/

[2021-04-21 15:08] ivanpauno commented on #630
I can reproduce the issue easily, and I'm definetely not running out of ephemeral ports.

[2021-04-29 15:35] NiklasBurggraaff commented on #624
I'm looking to get started with contributing to ROS, and I thought this might be a good task to start with. Should I just get started with working on making this change and submit a PR once I'm done?

[2021-04-29 15:38] clalancette commented on #624
There is already a change proposed to fix this in #626.  One thing to do would be to go ahead and review that change and leave any comments you might have.

If you'd like to look at other tasks to contribute, I'll suggest looking at https://github.com/ros2/ros2cli/issues , and particularly issues with the "help-wanted" tag.  If any of them strike your fancy, it would be a good idea to comment on t

[2021-04-29 15:44] NiklasBurggraaff commented on #624
Thank you, I will do that

[2021-04-29 17:24] nuclearsandwich commented on #630
Last night and tonight these test failures showed https://ci.ros2.org/view/nightly/job/nightly_linux_release/1899 https://ci.ros2.org/view/nightly/job/nightly_linux_release/1900

@ivanpauno did you do any further investigation beyond reproducing? Are you still looking into the issue?

[2021-04-29 19:02] ivanpauno commented on #630
@hidmic investigated the issue.
There was some discussion about it [here](https://github.com/ros2/ros2cli/pull/632).

[2021-04-29 19:18] hidmic commented on #630
Yeah, @nuclearsandwich bottom line we replaced one bug with another (https://github.com/ros2/ros2cli/pull/622). I haven't had time to prototype the third potential solution discussed in #632.

[2021-05-07 16:21] audrow commented on #614
Hi @matthews-jca, thanks for creating the issue. I assume you mean the verb `echo` instead of `sub`, right?

This would be a nice thing to add. If you can open a PR for this, feel free to @ me as a reviewer or if you have any questions.

[2021-05-07 16:27] matthews-jca commented on #614
Whoops, you are correct, both verbs for pub and echo are missing those additional QOS settings.

I have been looking at getting this up as a PR myself as it's been a tricky one for testing from a work perspective. I'll let you know for sure.

[2021-05-11 18:19] jacobperron commented on #594
Since https://github.com/ros2/ros2cli/pull/613, the `echo` verb makes an effort to match the QoS of existing publishers.

I think we could apply similar logic to the `pub` verb to resolve this ticket.

[2021-05-12 22:13] fujitatomoya commented on #624
@clalancette i will go ahead to close this cz https://github.com/ros2/ros2cli/pull/626 is merged.

[2021-05-13 12:51] clalancette commented on #624
Yes, we can close this now.  Thank you for the implementation!

[2021-05-13 12:51] #624 closed

[2021-05-13 13:23] clalancette commented on #525
I just verified that on Galactic, this problem is solved.  I'm going to go ahead and close this one out, thanks all for the debugging and fixes here.

[2021-05-13 13:23] #525 closed

[2021-05-14 17:52] hidmic opened #637 "Daemon slows down CLI responsiveness on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - From source
- Version or commit hash:
  - Current [master](edbc1600aa161845c58138bc18907bd873670a54)
- DDS implementation:
  - All
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

On a Windows box, do the following with and without a daemon node running:

- Start an action serv

[2021-05-20 18:08] clalancette opened #640 "Multiple ROS 2 daemon node names collide"
If you run `ros2 topic list` on two separate machines on the network, each of them starts up a copy of the ROS 2 daemon.  Unfortunately, the two daemons have exactly the same node name, namely `_ros2cli_daemon_0`.  This becomes a problem when you get a full node listing:

[code]

It turns out to be relatively benign, since most users don't use the `-a` flag, but it would still be nicer to have the

[2021-05-28 21:06] audrow commented on #619
Closed with #628.

[2021-05-28 21:06] #619 closed

[2021-06-02 12:55] iwmq opened #645 "ros2 param list raises AttributeError"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04 -->
- Installation type:
  -  Binary installation via apt
- Version or commit hash:
  -  Galactic
- DDS implementation:
  - Default
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
[code]

#### Expected behavior
List all params without exception
#### Actual behavior
Get exception
[code]
#### Additiona

[2021-06-02 13:17] clalancette commented on #645
That seems like a reasonable change to me.  Please consider contributing a pull request with that change so we can review it and get it in.  While doing that, it would also be awesome to add a test for this case.

[2021-06-02 13:57] iwmq commented on #645
@clalancette Thanks very much. I'd love to fix this tiny issue. I just created a pull request to the master branch. If you have anything about this process, please tell me.

[2021-06-07 15:29] #530 closed

[2021-06-08 00:16] Karsten1987 opened #648 "Can't load non-absolute node name in parameter file"
## Bug report

I have a parameter file in the style of

[code]

#### Expected behavior

`ros2 param load` works to load the correct parameters for node `some_node_name` even though the node name is not specified as absolute.

#### Actual behavior

error is raised: `param file does not contain parameters for /some_node_name,  only for nodes: dict_keys(['some_node_name'])`

Note that there's a simpl

[2021-06-08 13:20] v-lopez commented on #648
I believe this is done on purpose, as the initial behavior allowed both, but after some discussion https://github.com/ros2/ros2cli/pull/590#issuecomment-781506095 and subsequent messages this was the conclusion: https://github.com/ros2/ros2cli/pull/600

[2021-06-08 15:32] v-lopez commented on #648
I don't know enough about all the use cases, but yeah sounds like a mismatch, which gives more importance to what I requested here https://github.com/ros2/rclpy/issues/671 since basically the same code is reimplemented in multiple places, mismatches like this are bound to happen.

[2021-06-08 15:33] v-lopez commented on #648
pinging @audrow @ivanpauno @clalancette

[2021-06-08 16:36] #645 closed

[2021-06-08 16:59] ivanpauno commented on #648
Maybe, I really don't know why `rcl` accepts a relative name in a parameters file.
Does that only match `/some_node_name` or also `/my_ns/some_node_name`?

I think we can copy what rcl does in `ros2 param load`.
In the case it only matches `/some_node_name`, we could use in the future `/**/some_node_name` to match both options.

[2021-06-09 05:58] fujitatomoya commented on #640
I'd rather use UUID since we can bind the same network interface to container runtime.

[2021-06-28 17:14] jacobperron commented on #594
Related PR https://github.com/ros2/ros2cli/pull/644

[2021-06-28 22:38] chapulina commented on #630
This failed the last 2 builds, see the job history:

https://ci.ros2.org/view/nightly/job/nightly_linux_debug/lastSuccessfulBuild/testReport/ros2param.ros2param.test/test_verb_list/test_verb_list/history/

There hasn't been any action on #637 in 2 months, I'm not sure if that's still being considered.

[2021-06-28 22:48] hidmic commented on #630
It is. I haven't had the time to circle back :/. If it's becoming increasingly painful, I'll give it a shot, but anyone should feel free to pick it up as well.

[2021-06-29 17:38] chapulina commented on #630
This came out again today: https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_release/1614/testReport/

How about marking this test `xfail` for now, so it doesn't turn the builds yellow?

---

https://github.com/osrf/buildfarmer/issues/207

[2021-07-01 17:07] nuclearsandwich commented on #630
I'm in favor.

[2021-07-06 15:18] matthews-jca opened #651 "Feature request (from ROS1): cli topic echo filtering"
Went to discuss with a new developer about message filtering (from ROS1)
http://wiki.ros.org/rostopic#rostopic_echo

that allowed for a python expression to filter messages echo'd to the display. Was this feature intentionally dropped in ROS2 or simply a matter of implementation required?

[2021-07-12 22:09] hidmic commented on #630
With a bit of luck, https://github.com/ros2/ros2cli/pull/652 will solve this issue.

[2021-07-12 23:16] sloretz commented on #625
@clalancette ok to close now that #638 is merged?

[2021-07-13 01:51] clalancette commented on #625
Yes!  Closing.

[2021-07-13 01:51] #625 closed

[2021-07-13 13:35] matthews-jca commented on #347
Going through some "good first issues" and noted that this issue appears to have been fixed and merged.

[2021-07-13 13:51] clalancette commented on #347
Yep, very good point.  I'm going to close this out.

[2021-07-13 13:51] #347 closed

[2021-07-15 15:24] hidmic commented on #630
Alright, https://github.com/ros2/ros2cli/pull/652 is in. Let's hold on for a few days and see if this issue goes away.

[2021-07-16 15:21] caguero opened #655 "👨‍🌾 [ros2param] TestVerbList.test_verb_list failure on x86_64 Ubuntu nightly"
Test output:

[code]

https://ci.ros2.org/view/nightly/job/nightly_linux_debug/1992/

[2021-07-19 23:57] jacobperron commented on #630
`test_verb_load` and `test_verb_list` (and also `test_verb_dump`) are still failing on Linux platforms, although I think the failures are different now, for instance: https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2353/testReport/junit/ros2param.ros2param.test

Maybe we could close this and open one or more new tickets for the different failures. @hidmic Please advise.

[2021-07-20 14:52] caguero commented on #655
It might be fixed with https://github.com/eclipse-cyclonedds/cyclonedds/pull/880. Let's confirm with the next job [here](https://build.ros2.org/view/Gci/job/Gci__nightly-release_ubuntu_focal_amd64/).

[2021-07-21 19:47] jacobperron commented on #655
Locally, I've noticed that `ros2 param list` does not always report a complete list of parameters. I suspect it is because not enough time has been allowed for discovery. To reproduce, run the parameter blackboard demo and try listing it's parameters:

[code]

[code]

Repeatedly running the above command, we see that sometimes no parameters are listed.

[2021-07-21 19:50] jacobperron commented on #580
I was able to reproduce I think the same issue with Rolling debs on Ubuntu 20.04 with `rmw_connextdds`. Cross-referencing https://github.com/ros2/ros2cli/issues/655, which may be related.

[2021-07-22 00:58] jacobperron commented on #580
I think this is fixed by #656. @DrakeProvost If you are able to try it out and confirm that would be great :slightly_smiling_face:

[2021-07-22 18:55] jacobperron commented on #655
I think #656 fixed this. The failure didn't appear in any of the latest nightly jobs (though there appears to be another issue related to test shutdown) so I'm closing this out.

[2021-07-22 18:55] #655 closed

[2021-07-22 19:09] jacobperron opened #657 "👨‍🌾 ros2param tests sometimes do not exit cleanly"
## Bug report

**Required Info:**

- Operating System:
  - Linux
- Installation type:
  - source
- Version or commit hash:
  - 6cbe07025506233120703bc88e6a2123615e2e97
- DDS implementation:
  - rmw_fastrtps_cpp

#### Steps to reproduce issue

See latest nightly CI jobs, e.g.:
- https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2356/testReport/
- https://ci.ros2.org/view/nightly/job/night

[2021-07-22 19:17] hidmic commented on #630
Indeed those are different. Likely connected to https://github.com/ros2/rmw_fastrtps/issues/531.

Closing this ticket!

[2021-07-22 19:17] #630 closed

[2021-07-22 21:45] jacobperron commented on #657
Possibly a duplicate of https://github.com/ros2/rmw_fastrtps/issues/531

[2021-07-29 05:03] fujitatomoya commented on #648
both match.

i guess `ros2 param load` is the correct behavior. or `rcl_yaml_param_parser`?

[2021-07-30 21:37] #640 closed

[2021-08-09 20:47] ivanpauno commented on #595
We could use stderr for logging which is always unbuffered, though that might be confusing.
I think for commands that return "immediately", using buffered output is fine (e.g. ros2 topic list), but for things like echo it makes sense to have unbuffered ouput.

We can also use the `flush` kwarg of print() in those cases: https://docs.python.org/3/library/functions.html#print.
I think I'm going to u

[2021-08-10 12:44] clalancette commented on #595
I'm kind of against doing it this way.  I think that for any new code, it is going to be *really* easy to forget to do it (and for the reviewer to notice that it is missing).

What if we instead set `PYTHONUNBUFFERED=1` at startup by default, and then let the user disable it using the same mechanism if they want?

[2021-08-10 19:58] ivanpauno commented on #595
I don't think you can do that exactly, IIUC `PYTHOUNBUFFERED` is an environment variable that python checks only at startup.
There're ways to programatically make stdout unbuffered in python, but all the ones that I found are a bit hacky.

I will take a look if I can find an easy way to do it, or apply one of the hacky ways to do it.
I will probably enable line buffering instead of unbuffered outp

[2021-08-13 17:45] #595 closed

[2021-08-24 14:51] Kaju-Bubanja opened #662 "ros2 param list doesn't work while rqt is running"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - ros2 master source checkout
- Version or commit hash:
  - 1f4a3aaf7b930830b3fa04773715bf93ea65693e
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
When running `rqt` and then `ros2 param list` I get
`Exception while calling service of

[2021-08-29 18:39] NourS-d commented on #614
I think I can take this. If I understood correctly, it's fairly straight forward.
https://github.com/ros2/ros2cli/blob/master/ros2topic/ros2topic/api/__init__.py#L161
This needs to take into account the liveliness and duration
[code]
Then parser args for the pub/echo verbs need to be added and used inside the qos_profile_from_short_keys call.
One question I have though about echo: do we need to re

[2021-08-30 13:48] clalancette commented on #662
Same here; I cannot reproduce this issue on the latest ros2 code.

@Kaju-Bubanja Can you explain further about how you have rqt configured?  Maybe there is some plugin that we need loaded in order to see this issue.

[2021-08-30 14:11] Kaju-Bubanja commented on #662
I will try to reproduce this week with the hash of ros2 you tried.

[2021-08-31 13:39] Kaju-Bubanja commented on #662
Could not reproduce either.

[2021-08-31 13:39] #662 closed

[2021-09-01 18:45] jacobperron commented on #594
The `pub` verb was resolved in https://github.com/ros2/ros2cli/pull/653

[2021-09-07 17:58] fujitatomoya commented on #601
@audrow @amussell

https://github.com/ros2/ros2cli/pull/639 can fix the problem and it's been merged. i will close this issue, feel free to open another ticket if we still have the problem.

[2021-09-07 17:58] #601 closed

[2021-09-13 12:40] #651 closed

[2021-09-13 16:16] #502 closed

[2021-09-17 15:09] ferrolho commented on #534
Hi! I have just installed ROS 2 (Galactic) for the first time on my machine (Ubuntu 20.04). I am also a user of ZSH, and for some reason the autocomplete isn't working; but it works on the Bash. Some more info:
[code]

[2021-09-22 02:14] evshary commented on #534
@ferrolho I've tried the same patch in Galactic, and autocomplete doesn't work.
I'm not really sure what happens, but maybe you can temporarily use Foxy instead.

[2021-09-22 21:19] sloretz commented on #630
FYI future buildfarmers: This was fixed by #652, but it doesn't seem to be backportable. These tests are still flaky in Galactic.

[2021-09-29 11:12] matthews-jca opened #667 "Topic Info verbose doesn't show pub/sub queue depth"
## Feature request

#### Feature description
when running ros2 topic info with the --verbose nothing is exposed for the publisher/subscriber queue depths (when using keep last N)

Not sure if it's as simple as adding in the extra parameter https://github.com/ros2/rclpy/blob/691e4fbfcb4bd4cc2a01182a7dced3105a78200b/rclpy/rclpy/topic_endpoint_info.py#L32 or if this needs to be exposed at the C level

[2021-10-01 07:11] paolotherocker commented on #534
Hi, I'm having the same problem as @ferrolho with `zsh` version 5.8, and with both Foxy and Galaxy I'm unable to tab complete anything with the `ros2` command.

I will add that `zsh` can tab complete parameters with any command except `ros2`.
For example `apt se<tab>` will produce `apt search`, but `ros2 lau<tab>` will not complete to `ros2 launch`

[2021-10-04 12:10] matthews-jca commented on #667
As this is part of the qosprofile itself I believe the actual fix is just to add the qosprofile.depth https://github.com/ros2/rclpy/blob/691e4fbfcb4bd4cc2a01182a7dced3105a78200b/rclpy/rclpy/topic_endpoint_info.py#L169 correct? If so, I can get a PR up at the rclpy level.

[2021-10-06 10:33] vatsan007 opened #668 "_ros2_daemon and ros2 param commands"
## Bug report

**Required Info:**

- Operating System:
  -  Debian 9 (Stretch)
- Installation type:
  - Foxy -- Built from source
- Version or commit hash:
  -
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - ros2cli, _ros2_daemon

#### Steps to reproduce issue
I've some ros2 nodes which are being run as a system user. These nodes work fine and all ros2cli commands like ro

[2021-10-06 12:32] clalancette commented on #668
In theory, that combination should all work.  But we don't test on Debian Stretch, and we don't test as root, so you are kind of in uncharted territory here.  That said, if you find the cause of the problem we'd be happy to review fixes for it.

[2021-10-19 03:26] vatsan007 commented on #668
Thanks for the reply. Disabling shared memory feature as mentioned in eProsima/Fast-DDS#1750 - did work as I mentioned above. The high CPU usage also disappeared with the above change.

I've one more query -- What will the after-effect of the above change? Will it change the underlying transport to UDP transport for even messages going out on ROS2 channels between 2 nodes?

[2021-10-19 03:39] fujitatomoya commented on #668
shared memory is only effective between endpoints in localhost. so after this setting, you also will UDP transport instead of shared memory. about network connection, UDP is default setting. (i may be missing something, @IkerLuengo friendly ping.)

[2021-11-02 13:00] sink0918 commented on #534
Having the same issue with Zsh and ROS2 Galactic too.

But I found a solution in https://kislyuk.github.io/argcomplete/#zsh-support

By adding these lines to `.zshrc` the argcompletion is succesfully enabled.
[code]

![image](https://user-images.githubusercontent.com/57067221/139851466-c5d3efae-9afc-4b7e-90b6-4f3ff69fc09f.png)

[2021-11-02 16:17] Shiyu-Liu commented on #534
I have also been struggling with this argcomplete issue with ZSH and ROS2 Galactic for a long while. Thanks for the constructive suggestions in sink0918's comment. Actually I found that it's working by adding simply this in .zshrc:
`eval "$(register-python-argcomplete3 colcon)"`

The arg completion for colcon was previously solved by sourcing colcon-argcomplete in .zshrc as described in [colcon-En

[2021-11-02 16:36] paolotherocker commented on #534
That worked for me, thanks for sharing!

[2021-11-02 18:18] clalancette commented on #534
Huh, interesting.  So it turns out that we are already calling `eval "$(register-python-argcomplete ros2)"` when sourcing for the zsh shell: https://github.com/ros2/ros2cli/blob/master/ros2cli/completion/ros2-argcomplete.zsh .  And I verified locally that those files do indeed get sourced when source `/opt/ros/rolling/setup.zsh`.  However, completion doesn't work anyway; you have to re-run the `ev

[2021-11-09 07:11] fujitatomoya commented on #667
@matthews-jca yes, i think that will do the all the trick.

[2021-11-10 09:37] CALMorACT commented on #534
Thank you a lot, I solve my problem by your sharing

[2021-11-10 14:31] roncapat opened #671 "Add "debug" command"
The `debug` command would be like the `run` or `launch` command, but instead of running the node directly, it runs inside `gdb` or any configured debugger.

Currently, whenever a node fails, I copy the full command line that is printed in the last line of logs, type `gdb --args ` + the copied command line, and debug the node. But a proper ROS2 CLI tool would be awesome.

[2021-11-13 20:07] fujitatomoya commented on #667
@matthews-jca i just created https://github.com/ros2/rclpy/pull/849, it will be nice if you could help review on that :bow:

[2021-11-17 09:58] Kaju-Bubanja opened #672 "Ros2 node list stops working after unrelated node crashes"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - from source(master)
- Version or commit hash:
  - 44a654c9077252eed50b2a6d9034ba47b634bf98(master)
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Unfortunately I don't have detailed steps to reproduce, which makes it so hard to debug.

[2021-11-17 12:58] matthews-jca commented on #667
Following up from https://github.com/ros2/rclpy/pull/849#issuecomment-970912206 being not shared across all RMWs, it's still super helpful and useful to get those settings when available. I know hand coding a per-rmw solution is unsustainable, but would a separate cli command be better here?

[2021-11-17 16:29] fujitatomoya commented on #672
not really sure the root cause of this, but any of the followings could be a work-around?

- restart ros2 daemon on the node that has this issue.

[code]

- use ros2cli as `DirectNode`

[code]

[2021-11-17 16:37] Kaju-Bubanja commented on #672
Interesting information, I also had the idea of ros2 deamon, nice to see that it's already implemented. I will try the --no-daemon option next time it happens and try to restart the daemon and see if that helps

[2021-11-18 14:11] bergercookie commented on #523
I think this issue still affects older versions of ROS2, which are still supported though, like `foxy`.
Could we backport the corresponding commits of #528?

[2021-11-18 14:16] clalancette commented on #523
I think that is reasonable enough.  @bergercookie would you mind opening a backport PR?

[2021-11-22 16:25] Kaju-Bubanja commented on #672
Ok, interestingly, `ros2 daemon status` shows `The daemon is running`. Running `ros2 node list --no-daemon` a few times returns on the first call nothing, then 2/6 nodes, then 6/6 nodes, then nothing again. Restarting the daemon has fixed the issue mentioned above. So it does seem like the daemon somehow crashes, but without it being reported by daemon status. Definetily a bug that should be fixed

[2021-11-22 20:39] fujitatomoya commented on #672
- Environment
  - ros:rolling container with host network.
  - Ubuntu20.04 host
  - Intel(R) Core(TM) i7-11700 / Raspberry Pi 4 Model B Rev 1.4 BCM2835 x 2

- Setup

start 2 nodes on each machine with remapping node name and topic name as following.

[code]

- Verification

check see if `ros2 node list` and `ros2 topic list` can list all instances with and without `--no-daemon` in the ros2 network

[2021-11-28 18:24] christianrauch opened #675 "newly created package fails colcon test"
## Bug report

Creating a new node with ros2 creates a package that fails colcon test.

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: binaries
- Version or commit hash: 0.9.10

#### Steps to reproduce issue
1. create a new node: `ros2 pkg create my_package --build-type ament_cmake --dependencies rclcpp --node-name my_node`
2. run tests: `colcon build` , `colcon test`

#

[2021-11-28 22:17] clalancette commented on #675
So looking at the failures, they both revolve around the copyright.  This makes some sense, as the copyright wasn't specified in the initial `ros2 pkg create`.  That said, adding the `--license` flag doesn't improve the situation, because the copyright lines are not added to the top of the skeleton main.

Unfortunately, we don't have all of the information required in order to properly fill in tha

[2021-11-28 22:31] christianrauch commented on #675
What about just using the `MAINTAINER_NAME`? When you create the package, this is most likely the person that is going to write the initial code.

In case no copyright holder is specified or it is not taken from the maintainer, I would just deactivate the test in the CMake (`set(ament_cmake_copyright_FOUND TRUE)`).

I wouldn't mind if package creators are forced to choose a licence when publishing

[2021-11-28 23:01] aprotyas commented on #675
One way to address the copyright issue is to disable the copyright test by default (comment out line 82 in the linked snippet), allowing the package author to enable it later just by commenting a single line in the CMakeLists.txt file.

https://github.com/ros2/ros2cli/blob/37fea0685b9b4ac0092d355d455ce3e53c29858c/ros2pkg/ros2pkg/resource/ament_cmake/CMakeLists.txt.em#L80-L82

That would still keep

[2021-11-28 23:04] christianrauch commented on #675
I noticed that even after disabling `ament_cmake_copyright` by commenting that line, `colcon test-result --verbose` will still show the issue. It's just that `colcon test` will not fail.

[2021-11-29 09:28] Kaju-Bubanja commented on #672
Maybe the issue is connected with how I start the server. I start it using supervisor with following config:

[code]

[2021-11-29 20:07] clalancette commented on #675
We could do that, but I think there are no instances in the core codebase where the maintainer name is the same as the copyright holder name.  That is, the maintainer is generally a person, while the copyright holder is generally an organization.  So while we could rely on this, it will probably be wrong (and will pass the tests, meaning that the developer may overlook changing it).

I would be on

[2021-11-30 02:13] jacobperron commented on #675
@christianrauch This could be due to a left-over test result. Try again in a clean workspace (e.g. remove the `build`, `install` and `log` directories).

---

+1 for disabling the test by default.

We can still pester the user with comments in the code to encourage them to add a license/test.

[2021-11-30 08:49] Kaju-Bubanja commented on #672
A new kind of error started appearing:

[code]
with this traceback popping up shortly after in the log:

[code]

While I was writting this bug report my computer just completely froze up, which seems very odd. No mouse movement and no keyboard shortcuts were possible, I couldn't even drop to the terminal. Something in ros's lower levels seems to have caused a complete system halt.

I would really

[2021-11-30 21:23] #675 closed

[2021-12-06 19:21] jtbandes commented on #523
I'm trying this combination of commands on Galactic, but it's not working for me.

First I run:
[code]

I wait until I see `publishing #1: std_msgs.msg.String(data='hi')`, then run in another terminal:
[code]

Is this expected to work?

[2021-12-06 19:55] clalancette commented on #523
In general, yes.  In Rolling, this works exactly as expected, in that no command-line arguments are required and `ros2 topic echo /foo` gets the data exactly as expected.

It's possible that Galactic doesn't have all of the changes necessary to make it work out-of-the-box; I don't remember at this time when exactly we put those in.  That said, I can make this work fine in Galactic if I do the foll

[2021-12-07 17:12] icolwell-as opened #677 "ros2 param set string type "Off""
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - Foxy
- DDS implementation:
  - Default
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Declare string parameter from within cpp code.
Attempt to set the parameter from the CLI to the string "Off"
[code]

#### Expected behavior

Paremeter

[2021-12-08 13:41] frankkusters commented on #534
Instead of running `eval "$(register-python-argcomplete3 ros2)"` every time after sourcing `setup.zsh`, I made a modification in `/opt/ros/galactic/share/rosidl_cli/environment/rosidl-argcomplete.zsh`. I removed the line:

    autoload -U +X compinit && compinit

Then `ros2` tab completion works. This has to do with `compinit` being called too many times (see also https://stackoverflow.com/questio

[2021-12-13 18:35] fujitatomoya opened #679 "'property' object is not callable"
## Bug report

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - source build
- Version or commit hash:
  - https://github.com/ros2/ros2/commit/4a36f319afcc208deae3c373493ef6d9feda1324
- DDS implementation:
  - anything (cyclonedds, Fast-DDS, ConnextDDS)
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

the following colcon workspace includes reproducible pack

[2021-12-13 18:37] fujitatomoya commented on #679
CC: @iuhilnehc-ynos @Barry-Xu-2018

[2021-12-13 18:54] fujitatomoya commented on #679
A003 ; 'xxx' is a python builtin, consider renaming the class attribute. (https://pypi.org/project/flake8-awesome/)

so this is probably not a bug?

[2021-12-14 06:35] Barry-Xu-2018 commented on #679
Agree. It isn't a real bug.
While `property` name is used in msg, generated python code has this problem.
Maybe we should change code which generate python code from msg to report error if `property` name is used in msg (Not sure if generated code for srv/action has this issue. Need to check).

Use below python code to reproduce this problem
[code]
After execute, report error
[code]

[2021-12-14 08:08] iuhilnehc-ynos commented on #679
@Barry-Xu-2018 @fujitatomoya

I think that many users hope it could work. A workaround is making the `property` field generated at the end. (Need to update the https://github.com/ros2/rosidl_python.git)

[2021-12-14 10:18] Barry-Xu-2018 commented on #679
Yes. This is a good idea.  But maybe it makes the logic of rosidl_python more complex.
We should hear the maintainer's opinion.

@fujitatomoya It is better to move this issue to [rosidl_python](https://github.com/ros2/rosidl_python/issues) for further discussion.

[2021-12-14 15:35] clalancette commented on #679
One thing we have discussed in the past is to change the message generator to always add an `_` to the end of every field in the message.  This would ensure that we never run into these type of problems, though the downside is that we would break every Python application that is currently using the fields.  Maybe we could do a deprecation cycle, though.

[2021-12-14 15:44] fujitatomoya commented on #679
@clalancette thanks for the comment.

i think we are okay with either way.
- add documentation that `property` (python buildin) message field name could lead this error, so user should not use that.
- address this with `_` to make it work. (or workaround suggested by @iuhilnehc-ynos  https://github.com/ros2/ros2cli/issues/679#issuecomment-993260445)

i like to leave this to maintainer.

btw, can y

[2021-12-15 19:34] mschuckmann commented on #610
I've just experienced this issue on a Ubuntu 20.04 AMD64 system running running ROS2 galactic.
The problem resolved itself after rebooting the system.

[2021-12-15 19:44] bijoua29 commented on #610
This was the same resolution for me as well i.e. rebooting. I will say that I haven't experienced this problem in a while. It is also the case that I have been running 'rolling' on Ubuntu 20.04 for the past 3-4 months so that might have fixed the problem although I can't say for sure. Previously, I was using foxy on Ubuntu 20.04.

[2021-12-15 19:59] mschuckmann commented on #610
I will say that I experience the problem after some failed attempts to run my launch file so it could be that there was some hung process or zombies that were confusing ros2.

[2021-12-16 03:10] RENyunfan opened #680 "ros2 topic echo /odom covariance is unclear"
## Bug report

**Required Info:**

- Operating System: Ubuntu20.04
  -
- Installation type: binaries
  -
- Version or commit hash: ROS2 Foxy
  -
- DDS implementation:
  -
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

#### Expected behavior
The covariance should line up horizontally so we can see it clearer. But they're actually arranged vertically.
#### Actual behav

[2021-12-16 13:10] clalancette commented on #680
This is actually difficult to do, as `ros2 topic echo` doesn't have any knowledge of the data it is printing.  It doesn't know if the given array should be arranged vertically, horizontally, or with some stride.

I'll leave this open as a feature request, because it would be useful, but someone would have to come up with some concrete proposals on how we would achieve this.

[2021-12-16 22:02] fujitatomoya commented on #680
this sounds reasonable to me 👍

[code]

https://github.com/ros2/rosidl_runtime_py/blob/f1bfe509c457e4693f8c1e85a5cecdd8483bd7d2/rosidl_runtime_py/convert.py#L66

probably we would want to add format option, and then we can issue it via ros2cli?

[2021-12-17 05:57] iuhilnehc-ynos commented on #680
Just adding the `default_flow_style=True` to `yaml.dump` could work.

I tried to add `yaml.add_representer(list, __represent_list)`, but it doesn't work.
After trying to add a new `Ros2Dumper` derived from `yaml.Dumper`, and overwrite the `expect_node` method, it seems to work as expected.
Using `stride = 8` as following,

[code]

So I think we can provide two extra options to users,
[code]

[2021-12-17 07:03] iuhilnehc-ynos commented on #680
It seems a little complicated in some situations (embedded lists).

[2021-12-17 11:16] RENyunfan commented on #680
Hi, thx for your reply, I tried to modify `default_flow_style` in `/opt/ros/foxy/lib/python3.8/site-packages/launch_ros/actions/node.py ` and `/opt/ros/foxy/lib/python3.8/site-packages/ros2param/verb/dump.py`, but nothing happened. Is there any detail for your solution?

[2021-12-17 12:25] iuhilnehc-ynos commented on #680
Please refer to https://github.com/ros2/ros2cli/issues/680#issuecomment-996227586

[2021-12-17 12:34] RENyunfan commented on #680
Thanks, I'd like to post the detailed steps below for anyone who has the same problem.
In `/opt/ros/foxy/lib/python3.8/site-packages/rosidl_runtime_py/convert.py`, line 66-94, add a param in line 93 will work.
[code]

[2021-12-20 20:38] audrow opened #682 "Incorrect service autocompletion"
It seems that the service autocomplete is not behaving entirely correctly. I have moved this issue from https://github.com/ros/ros_tutorials/issues/136#issue-1040427338, opened by @kurshakuz.

[2021-12-23 20:49] clalancette commented on #677
Thanks for the report.  This is basically unintentional behavior (and hence a bug).

What's happening here is that we are using YAML parsing to parse the value, and it is automatically interpreting certain values (on, off, true, false, etc) as booleans, and then trying to send that to the node.  In Foxy, parameter types are flexible, so it automatically changes the type.  In Rolling, for instance,

[2021-12-23 21:25] clalancette commented on #677
https://github.com/ros2/ros2cli/pull/684 is a potential fix for this, though I don't think we can completely fix it.

With #684 in, running:

[code]

will still interpret the argument as a boolean.  But the following would work as an override:

[code]

[2022-01-06 20:35] #677 closed

[2022-01-06 21:34] icolwell-as commented on #677
Thanks for the fix! much appreciated.

[2022-01-06 21:57] clalancette commented on #677
You are welcome, happy to help.

[2022-01-07 15:45] clalancette commented on #682
Just to be clear, this:

[code]

Is the same as what gets output on the command-line:

[code]

(that is, the ^J is the control character for the newline).

Further, it is actually possible to make this all work if you properly quote things:

[code]

completes properly.  I think this is an interaction between the shell and the tab completion.  The only thing we could potentially do here is to someh

[2022-01-31 22:42] nuclearsandwich opened #688 "ros2doctor test_api.py hanging during nightly linux repeated jobs."
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
  - RHEL 8
- Installation type:
  - source
- Version or commit hash:
  - https://gist.github.com/nuclearsandwich/ee0b27ec978bdc3e40d0fb8cd52edf26#file-nightly_linux_repeated-2549-repos
- DDS implementation:
  - cyclonedds (presumably)
- Client library (if applicable):
  - N/A

The following jobs hung indefinitely (upwards of 2

[2022-02-01 15:23] Blast545 commented on #688
It happened today as well: https://ci.ros2.org/job/nightly_linux-rhel_repeated/1024/

[2022-02-01 15:50] clalancette commented on #688
A wild guess is that the change from CycloneDDS -> Fast-DDS as the default RMW is causing this.  If it is reproducible, I'll suggest running a CI build against a branch where https://github.com/ros2/rmw/pull/315 is reverted to see if it helps.

[2022-02-01 18:57] Blast545 commented on #688
But that PR is for some days ago, I don't think it's related. Although I don't see any differences between the repos on the first case and the previous one.

I'll run a check to see if I can reproduce it only using `ros2_doctor` on rhel, which seems to be the current reliable case.
[![Build Status](https://ci.ros2.org/job/ci_linux-rhel/178/badge/icon)](https://ci.ros2.org/job/ci_linux-rhel/178/)

[2022-02-01 20:28] Blast545 commented on #688
Current hypothesis is that actually `ros2action` fails, leaves in a "unrecoverable state" and then `ros2doctor`. Running CI again, this time with `ros2action` as well.

[![Build Status](https://ci.ros2.org/job/ci_linux-rhel/180/badge/icon)](https://ci.ros2.org/job/ci_linux-rhel/180/)

[2022-02-02 11:43] christian-rauch opened #689 "cannot find prefix of cmake package"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - foxy

#### Steps to reproduce issue
1. create a new workspace with package [`apriltag`](https://github.com/AprilRobotics/apriltag) (alternatively install binary package `ros-foxy-apriltag`)
2. build `colcon build`
3. source `. install/setup.bash`
4. search for pac

[2022-02-02 14:37] Blast545 commented on #688
Another new instance I had to kill: https://ci.ros2.org/job/nightly_linux-aarch64_repeated/1858/

[2022-02-03 15:05] clalancette commented on #577
This doesn't show up in any of the recent Rdev jobs.  I'm going to close this out, but we can reopen if this appears again.

[2022-02-03 15:05] #577 closed

[2022-02-03 15:35] clalancette commented on #580
No response from the original reporter in over 6 months, so closing.  If you are still having a problem, feel free to reopen.

[2022-02-03 15:35] #580 closed

[2022-02-03 16:21] xander-m2k commented on #688
Happened today to me as well, trying to build ROS Foxy binaries for Debian Buster, hanging for over an hour on `test_cli.py` of `ros2topic`.

[2022-02-03 20:38] clalancette commented on #668
I think the original issue was fixed/worked around, so I'm going to close this out.  If there is still a problem here, please feel free to reopen.

[2022-02-03 20:38] #668 closed

[2022-02-09 14:47] ste93 commented on #222
Has anyone got any news from this?

[2022-02-09 15:03] clalancette commented on #222
We're not currently working on this feature, but we are happy to review pull requests that implement it.

[2022-02-11 16:07] Blast545 commented on #688
Newer cases:

https://ci.ros2.org/job/nightly_linux_repeated/2560/
https://ci.ros2.org/job/nightly_linux-aarch64_repeated/1867/

[2022-02-21 16:07] Blast545 commented on #688
Another instance I have just aborted: https://ci.ros2.org/job/nightly_linux-aarch64_repeated/1875/

[2022-02-22 15:19] Blast545 commented on #688
https://ci.ros2.org/job/nightly_linux-rhel_repeated/1045/

[2022-02-22 23:07] fujitatomoya commented on #529
reopen this in favor of https://github.com/ros2/ros2cli/pull/695

[2022-02-24 18:27] #529 closed

[2022-02-25 01:18] kscottz opened #696 "Suggestions for Improved Ergonomics on ros2 action send_goal."
## Bug report

**Required Info:**

- Operating System:
Ubuntu 20.04
- Installation type:
Binaries
- Version or commit hash:
Galactic
- DDS implementation:
 All
 Client library (if applicable):
 CLI

## Feature request
This is a general request to improve the action send_goal CLI ergonomics. I was trying to put together a TB4 tutorial and I spent a good hour wrestling with the CLI. In particular, I

[2022-03-04 14:33] matthews-jca opened #697 "ros2 doctor missing explicit dependancy on python ifcfg package"
## Bug report

**Required Info:**

- Operating System:
debian 10 (technically the debian 10 armhf docker image)
- Installation type:
source
- Version or commit hash:
foxy source as of 2022-03-02

#### Steps to reproduce issue
[code]

#### Expected behavior
[code]
#### Actual behavior
[code]
#### Additional information
Installing the pip package does in fact fix the issue. My question then is where

[2022-03-04 16:44] Blast545 commented on #688
I thought about closing this one and then I saw this in the `ci_windows`: https://ci.ros2.org/job/ci_windows/16645/

I am not sure it's exactly the same error, it fails earlier, but It's probably related.

[2022-03-07 08:45] Nir-Az opened #699 "Cannot change log level on ros2 component load command (galactic)"
## Bug report

**Required Info:**

- Operating System:
Ubuntu 20.04
- Installation type:
binaries
- Version or commit hash:
galactic
- DDS implementation:
default

#### Steps to reproduce issue
Try to change log level on `ros2 component load` command

#### Expected behavior
Node loaded with requested log level
#### Actual behavior
Error from the command
#### Additional information

$ ros2 componen

[2022-03-07 12:42] matthews-jca commented on #697
I went back over my notes and scripts this morning. My issue was the way I was generating a docker image from another (to reduce overall size of output from a source install) and missed rosdep on the second image. Closing issue and likely need to upstream some community instructions for doing this nicely

[2022-03-07 12:42] #697 closed

[2022-03-07 18:51] fujitatomoya commented on #699
according to the following experience, we would need to support

- `--ros-args` option.
- individual log level for each node.

any comments and thoughts?

[code]

this works but all nodes will set the same log level with container.

[code]

expected this would work, but it does not support `--ros-args` option.

[code]

problem can be observed in mainline.

[2022-03-08 07:48] Nir-Az commented on #699
I think the best way to go is to align to the `ros2 run command` syntax.

I wouldn't open it as a BUG if it wasn't listed in the command help syntax.. I spend 2 hours trying to understand what am I doing wrong, because if it listed in the help it should work :)

[code]

[2022-03-09 13:59] CourchesneA opened #700 "ros2 topic pub auto header"
## Feature request

#### Feature description
ROS1 allowed automatic filling of header and timestamp using keywords 'now' and 'auto'. It would be great to have that functionality in ROS2

#### Implementation considerations
ex.
[code]

#### Expected behavior
[code]
#### Actual behavior
`Failed to populate field: Value 'auto' is expected to be a dictionary but is a str`

[2022-03-11 05:18] fujitatomoya commented on #700
ROS 1 wiki: http://wiki.ros.org/ROS/YAMLCommandLine#Headers.2Ftimestamps, this sounds reasonable to me. I would like to hear from others.

[2022-03-17 01:24] #680 closed

[2022-03-18 15:01] civerachb-cpr opened #702 "ROS2 Daemon fails to respond"
## Bug report

**Summary**

Running `ros2 topic list` once results in all subsequent `ros2 *` commands to fail with the following error:
[code]

Running `ros2 daemon stop` fails with the same error; the only way to stop the daemon is to run `killall _ros2_daemon`.

I _am_ able to run `ros2 topic echo ....` and `ros2 topic pub ...` successfully, as long as I run them _before_ running `ros2 topic li

[2022-03-18 19:29] fujitatomoya commented on #702
I am not sure what went wrong, but i cannot reproduce the problem on my local environment.

the following commands can be running more than 30 mins w/o any error with https://github.com/ros2/ros2/commit/9597c36591c643a1ff6d87964ddd3d999f191baf. (both rmw_cyclonedds_cpp and rmw_fastrtps_cpp)

[code]

[2022-03-21 16:10] civerachb-cpr commented on #702
I'll try wiping the whole machine and starting again. I'm just really confused because on this specific machine the problem is always reproducible. But I don't understand enough about the problem to know where I should even start looking on this robot to figure out what the cause is.

[2022-03-21 16:23] fujitatomoya commented on #702
how about starting `ros2 daemon` in debug mode?

[code]

if we issue `ros2 topic list` with another terminal, XML-RPC should receives the request and call `get_topic_names_and_types` method via XML-RPC.

[2022-03-21 17:27] civerachb-cpr commented on #702
Terminal 1:
[code]

Terminal 2:
[code]

I'm not sure why I only seem to get information for the wireless cart; the PC has multiple ethernet ports, but none are showing up in the daemon's output.

[code]

Cyclone DDS configuration:
[code]

[2022-03-25 17:48] civerachb-cpr commented on #702
Been looking into this further and I'm still no closer to finding an answer.

The ros2 daemon appears to start correctly and is listening on port 11511:
[code]

But if I run the following Python code in the interpreter I'm seeing virtually the same error as with `ros2...`:
[code]
Result:
[code]

On the outside chance it's a problem with `ufw` I've stopped & disabled the service:
[code]
No change.

[2022-03-25 19:18] civerachb-cpr commented on #702
Possible progress!
I cleared my `iptables` configuration completely by running
[code]

Then I started the ROS2 daemon, and ran `ros2 topic list` in between every one of the following commands:
[code]

As soon as I ran `sudo iptables -t nat -A POSTROUTING -j MASQUERADE` the Python error occurred again.  So it looks like the issue has to do with enabling masquerade postrouting.

Anyone have any idea

[2022-03-28 18:34] civerachb-cpr commented on #702
Smaller, isolated example.  Installation procedure:
1) Install Ubuntu 20.04 + ros-foxy-ros-base package
2) Run the following script:
[code]

When the ROS2 commands fail with port-forwarding enabled, I'm seeing this output:
[code]

Upon removing the port-forwarding that error goes away immediately.

I'm reliably able to prevent the ROS2 Daemon from responding by enabling basic port-forwarding. I'm

[2022-04-05 15:42] Blast545 opened #705 ":man_farmer: Test regressions on various `ros2cli` utilities on the rolling jobs"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu jammy
- Installation type:
  - Source, buildfarm
- Version or commit hash:
  - main
- DDS implementation:
  - Connext
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Run a rolling buildfarm job.

#### Expected behavior
All test passes.

#### Actual behavior
`ros2cli` related errors appear, see:
https://build

[2022-04-06 20:38] #705 closed

[2022-04-06 20:38] ivanpauno commented on #705
Fixed by https://github.com/ros2/rmw_connextdds/pull/80.
`build.ros2.org` tests should start passing after we do a new `rmw_connextdds` release.

[2022-04-06 20:54] clalancette commented on #705
Actually, that shouldn't be necessary.  As far as I understand, that Rci job checks out the sources and builds them, so it should get the updates overnight.  I guess we'll see :).

[2022-04-06 21:19] ivanpauno commented on #705
It checks the sources of `ros2cli`, but it uses the last released version of `rmw_connextdds`, so it should still be failing.
The [Rci__nightly-connext](https://build.ros2.org/view/Rci/job/Rci__nightly-connext_ubuntu_jammy_amd64/37/#showFailuresLink) job also has similar failures, and those ones are using the released versions of the packages (I think).

[2022-04-06 21:21] ivanpauno commented on #705
Ah, I thought the ci jobs in `build.ros2.org` used the released version of the packages.

[2022-04-08 13:37] clalancette commented on #576
I went back looking through the Windows repeated jobs for the last month, and I saw no evidence of this failed test in any of those.  I don't have a PR that fixed it, nor do I have direct evidence that this was fixed, but I'm going to close this out for now.  If it comes back, we can open a new issue about it.

[2022-04-08 13:37] #576 closed

[2022-05-04 06:20] hardesh commented on #534
Hi,
Is it possible to fix this issue before the humble release? :see_no_evil:

[2022-05-04 12:39] clalancette commented on #534
Someone needs to debug it further, since we don't really understand the underlying cause.  If you happen to find the problem and open a pull request, we're happy to review it.

[2022-05-07 00:11] jacobperron opened #710 "Remove options that do not do anything from ros2component"
This is not really a bug or a feature request. I just noticed that when we run `ros2 component types --help` we see the following options that have no affect on the operation of listing items in the ament index:

[code]

IMO, it would be better to remove those from the output to avoid any potential confusion.

[2022-05-09 19:48] clalancette commented on #710
That turned out to be a 2-line fix; see https://github.com/ros2/ros2cli/pull/711 .

[2022-05-09 20:57] #710 closed

[2022-05-11 17:02] sloretz opened #712 "Tab completion doesn't work with cmd.exe or PowerShell"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - binaries
- Version or commit hash:
  -
- DDS implementation:
  -
- Client library (if applicable):
  -

#### Steps to reproduce issue

In either cmd.exe or Powershell, activate the ROS 2 workspace

[code]

Type
[code]

#### Expected behavior

The command would complete to `ros2 launch`

#### Actual behav

[2022-05-11 17:13] sloretz commented on #712
Table completion on windows doesn't work in `Galactic` either, so maybe it's never worked on Windows.

[2022-05-11 17:23] clalancette commented on #712
Thanks for checking on that.  Still a bug (tab completion should work), but not a Humble regression.

[2022-05-11 23:53] sloretz opened #713 "ros2 node list hangs when a node is on another machine on Windows and ROS_DOMAIN_ID is used"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  -  binaries
- Version or commit hash:
  -  https://ci.ros2.org/view/packaging/job/packaging_windows/2478/
- DDS implementation:
  -  default
- Client library (if applicable):
  -  N/A

#### Steps to reproduce issue

On a linux laptop (not sure OS is important), set a ROS_DOMAIN_ID and start turtlesim_node

[2022-05-11 23:55] sloretz commented on #713
`ros2 topic list`, `ros2 service list`, and `ros2 param list` all hang in this scenario as well.

[2022-05-16 09:29] TemugeB opened #714 "Autocomplete doesn't work with Ubuntu 20.04"
## Bug report

**Required Info:**

- Operating System:
  Ubuntu20.04
- Installation type:
  apt install ros-foxy-desktop
- Version or commit hash:
 (0.9.11-1focal.20220209.145952)
- DDS implementation:
  -
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

![image](https://user-images.githubusercontent.com/36071915/168561337-6c51e29e-3272-4b31-bbf6-dd5b77763f80.png)

###

[2022-05-16 10:26] TemugeB commented on #714
ros2 doctor gives the follow error:
[code]

The full ros2 doctor report is below.

[code]

[2022-05-16 15:41] clalancette commented on #714
Interesting that it isn't working for you.  I tried this out locally, and autocomplete seems to be working OK for me.

Can you run `dpkg -l | grep argcomplete` and paste the output here?

[2022-05-17 02:04] TemugeB commented on #714
Hi.

Thank you for replying to the issue. Your suggestion was right. This fixed the problem for me. Thank you.

```apt install python3-argcomplete```

[2022-05-17 02:04] #714 closed

[2022-05-21 01:33] krsche opened #715 "`pkg create --build-type ament_python` should warn about hyphens in pkg-name"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 22.04
- Installation type:
  - binaries
- Version or commit hash:
  - humble
- DDS implementation:
  - /
- Client library (if applicable):
  - ros2cli

#### Steps to reproduce issue
[code]

#### Expected behavior
When running `ros2 pkg create` with `--build-type ament_python` warn about hyphens in the name / or abort pkg creation.

[2022-05-22 15:57] krsche commented on #715
https://answers.ros.org/question/368144/colcon-build-fails-on-newly-created-package/?answer=396325#post-id-396325

[2022-05-24 04:06] aprotyas commented on #715
I agree that a warning about the hyphen would be informative here!

[2022-05-24 12:38] clalancette commented on #715
For what it is worth, while using underscore is our best practice, I don't think hyphens should fail.  I would prefer we figure out why hyphens are having problems.

[2022-05-24 13:16] clalancette commented on #715
Oh, I see!  Thanks for the explanation.  OK, in that case I do agree that blocking them completely at `ros2 pkg create` time makes sense (for `ament_python` packages, at least).

(as a side note, I do believe that we can have hyphenated C++ packages, so for now I wouldn't change that semantic)

[2022-05-30 12:49] Bjoernolav opened #719 "Add qos parameters to ros2 topic hz"
#### Feature description
Currently, the `ros2 topic hz` verb does not allow the user to specify qos settings.

We had a case where `ros2 topic hz`  did not report the expected frequency. In this case, 12 messages was published at a burst at 10 Hz (resulting in an expected frequency of 120 Hz). The `hz` verb uses the `sensor_data` qos profile, which has a queue depth of 5. This caused messags to be

[2022-05-31 12:23] clalancette commented on #719
Yeah, that would be a fine feature to have.  Please consider submitting a pull request implementing this.

[2022-06-07 10:18] v-lopez commented on #702
I am experiencing this as well, easily to workaround with:
`sudo iptables -t nat -F`

And to reproduce again with:
`sudo iptables -t nat -A POSTROUTING -j MASQUERADE`

For me disabling masquerading is not an option and this is a complete show stopper.

@fujitatomoya if running ros2 daemon with debug mode, you'll see that it does not deceive any call such as `get_topic_names_and_types()`.

[2022-06-09 22:14] deepanshubansal01 opened #721 "Support setting parameters atomically using ros2 service command line"

[2022-06-10 17:18] clalancette commented on #702
I did a bit of research here.  The earlier examples give some clues, but there is actually a much easier way to reproduce this without (directly) involving ROS 2 at all.  Here are two example programs:

xmlrpc-client.py:
[code]

xmlrpc-server.py:
[code]

(the server is probably not the minimum example, but it is good enough for the example here)

If I run `xmlrpc-server.py` in one terminal, and th

[2022-06-10 20:14] civerachb-cpr commented on #702
Thanks for the update! I'm glad the source of the problem has at least been identified, even if the fix is more complicated.

In my specific instance I was able to bypass needing to use `iptables` by installing `apache2` and configuring it to act as a proxy server for the resources I would otherwise have been port-forwarding.  Not ideal, but it worked in my specific use-case.

[2022-06-10 20:39] sloretz commented on #702
Brainstorming crazy ideas ok? What if we avoided the network and used [SharedMemory](https://docs.python.org/3/library/multiprocessing.shared_memory.html) to communicate with the daemon?

A different idea with shared memory: What we generated a secret value, stored it in shared memory, and included that in the request to the daemon? The daemon would only process the request if it contained the rig

[2022-06-10 20:48] clalancette commented on #702
Absolutely!

I generally like this idea; it should get us away from XMLRPC (which has other problems besides this), and should also be faster.  I guess we'd have to see how it worked on Windows, but assuming it worked there I'd be for that.

As you say, MASQUERADING as such doesn't exist on Windows.  But the more general problem of the source IP address != '127.0.0.1' can exist on any TCP connecti

[2022-06-10 22:53] fujitatomoya commented on #702
the following does not work on windows? since i do not use windows at all, i am not sure either.

[code]

[2022-06-16 11:53] ahemwe opened #725 "ros2 topic echo: No option to clear screen"
## Feature request

#### Feature description

In ROS 1 `rostopic echo` has an option "-c"
`$ rostopic echo -c /topic_name`

Meaning:
_Clear the screen after each message is published. Cannot be used with -p._

See: http://wiki.ros.org/rostopic#rostopic_echo

This is very helpful when using a terminal session to monitor ros messages in a terminal.

In ROS 2 this option is not available as of now. I

[2022-06-21 10:25] AndreasR30 commented on #534
@frankkusters I observed the same. `compinit` seems to clear previous `complete` commands. For example in my ROS environement I get the following:

[code]

[2022-06-21 10:57] AndreasR30 commented on #534
For testing I removed the line `autoload -U +X compinit && compinit` from the following files:
[code]
In order to make it work properly I have to add above line in my .zshrc before sourcing ROS workspace (and colcon-argcomplete). Whithout it it does not work. So it seems to be mandatory.

[2022-06-22 08:09] frankkusters commented on #534
Should `autoload -U +X compinit && compinit` just not be called from the ROS/colcon `*argcomplete.zsh` files then? To me it makes sense for these commands to reside in `.zshrc` - it's up to the `zsh` user if they want completion or not. For most people it will be enabled by default anyway.

[2022-06-23 23:33] fujitatomoya commented on #702
@civerachb-cpr it would be really helpful if you try https://github.com/ros2/ros2cli/pull/729 to fix your problem?

[2022-06-24 15:05] civerachb-cpr commented on #702
I'll give that a try when I have the time.  I'm a little swamped with other work right now, but I'll do my best to test it out in the next week or two.  Sorry I can't test it right away.

[2022-06-27 18:24] 808brick commented on #715
For what it's worth, it seems the issue you may be facing is not from the package name, but the setupcfg file that get's autogenerated.

It seems when the command is run, the setup.cfg file is created like so:
[code]

When it should be :
[code]

Where the difference is a underscore vs the hyphen. (Should be `script_dir` vs the autogenerated `script-dir`)

I hope this is helpful and related to reso

[2022-06-27 18:41] 808brick opened #730 "Ament Python setup.cfg File Incorrectly Generated"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - ROS Foxy Binary
- DDS implementation:
  - Default
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
- Create a new ament-python package
- Add your script files to package python directory
- Add scripts to setup.py file
- Run colcon build
- Source Package
- Try to run script with

[2022-06-27 19:20] clalancette commented on #730
That should not be the case; both `-` and `_` are valid (though in later versions of setup tools, `_` is preferred).  Up until Humble, we always use the `-`, so that is not likely the cause of the problem.

Please provide a full working example with your problem.  Likely the issue lies somewhere else.  Thanks.

[2022-06-29 19:10] torrhen commented on #725
Would require something like the `"\033[2J\033[;H"` ANSI control sequence prefixed for each message callback to clear display and reposition cursor.

No `-p` argument in this case, but `--csv` looks similar. Are they equivalent given this context?

[2022-07-02 21:52] torrhen opened #731 "`ros2 topic echo` missing required positional argument `info`"
## Bug report

**Required Info:**
- Operating System:
Ubuntu 20.04.4 LTS
- Installation type:
Source
- Version or commit hash:
f46fa80c5bffe95b45fbba2e5cda724f3e4e8cce
- DDS implementation:
Cyclone DDS
- Client library (if applicable):
rclpy

#### Steps to reproduce issue
Caused when attempting to print the messages sent/received over a topic. The example below highlights this with a `turtlesim` e

[2022-07-06 01:23] fujitatomoya commented on #731
I cannot reproduce this issue on Ubuntu 20.04 or 22.04 with https://github.com/ros2/ros2/commit/28a83a843324918293ccd0d106117cf2fa4e33a6 (cyclonedds and fastdds just works okay.)

[2022-07-06 09:33] torrhen commented on #731
New install and build resolved the issue in the end. Thanks for checking regardless.

[2022-07-06 09:33] #731 closed

[2022-07-12 14:12] konstihengge commented on #610
Did someone solve the problem?
I have ros2 rolling on a Ubuntu 20.04  and it hangs too, but it is not solved via reboot.

[2022-07-12 18:37] audrow commented on #610
Rolling isn't well supported on 20.04. It's currently listed an a tier 3 platform (can be built from source, but not well tested by us). https://ros.org/reps/rep-2000.html#humble-hawksbill-may-2022-may-2027

You may want to try using Ubuntu 22.04 or using Galactic or Foxy on 20.04.

[2022-07-15 05:56] timonegk opened #736 "ros2cli daemon: cannot use Destroyable because destruction was requested"
## Bug report

**Required Info:**

- Operating System: Ubuntu 22.04
- Installation type: binary
- Version or commit hash: 0.19.0
- DDS implementation: cyclonedds

#### Description
From time to time, I get the following traceback when I use the ros2 cli instead of the usual output.
It persists until I run `ros2 daemon stop`. Unfortunately, the problem occurs seemingly arbitrarily, so I cannot give

[2022-07-15 06:00] timonegk opened #737 "ros2cli is sometimes unresponsive"
## Bug report

**Required Info:**

- Operating System: Ubuntu 22.04
- Installation type: binary
- Version or commit hash: 19.0.0
- DDS implementation: cyclonedds

#### Description
From time to time, the ros2cli becomes unresponsive. Every command simply hangs and no output is displayed. The problem can be fixed by killing the daemon with SIGKILL (SIGTERM does not work). I will add steps to reprodu

[2022-07-15 06:16] timonegk opened #738 "ros2 topic delay for tf"
## Feature request

#### Feature description
It would be nice to be able to run ros2 topic delay for the `/tf` topic. It has the message type `tf2_msgs/msg/TFMessage` which is a list of `TransformStamped`, each containing a header.

#### Implementation considerations
Either messages of type `tf2_msgs/msg/TFMessage` could always be treated in this way or a command line option could be added that ma

[2022-07-18 17:19] RFRIEDM-Trimble opened #739 "Add support for ament_cmake_python in ros2 pkg create"
## Feature request

#### Feature description

ROS2 CLI allows creating packages for `cmake`, `ament_cmake`, `ament_python`. Considering there isn't a complete example in the documentation for [ament_cmake_python](https://docs.ros.org/en/humble/How-To-Guides/Ament-CMake-Python-Documentation.html) , it would be helpful to support generating one for users.

#### Implementation considerations

Follow

[2022-07-20 07:22] fujitatomoya commented on #738
I think `ros2 topic delay` is meant to measure and display the delay of messages via topic, not contents in the message. but i would like to hear from others.

[2022-07-21 12:30] timonegk commented on #738
If I understand it correctly, `ros2 topic delay` reads the contents of the message's header and determines the difference to the current clock. So it does already use contents of the message. My proposal would just be to use different fields for the `/tf` topic.

[2022-07-22 07:30] konstihengge commented on #610
Thank you for your advice @audrow
I'm now using Humble with Ubuntu 22.04 and it's working fine

[2022-07-22 23:54] guzhaoyuan commented on #534
I am using Ubuntu 20.04 and Foxy, I have ZSH and oh-my-zsh installed.
I needed to do the following to fix this issue.
[code]

[2022-07-26 14:04] austin-InDro commented on #736
I am also getting this issue with the same behaviour. What additional information is required @fujitatomoya ?

[2022-07-28 06:25] fujitatomoya commented on #736
@austin-InDro

thanks for the ping, can you reproduce this issue?

can you try to start the daemon with `debug` flag to see if any messages come up?

[code]

[2022-07-28 13:56] austin-InDro commented on #736
I get the following, doesn't seem to be any errors, but I can pipe it to a log and wait for the error to appear as well.
[code]

[2022-07-28 14:28] austin-InDro commented on #736
Okay so I was able to get the error while the debug was running:

[code]
Then I eventually noticed...
[code]

I plugged in a ethernet cable, which seemed to cause the error.

[2022-07-29 16:37] Flova opened #742 "Message template autocompletion broken"
When publishing a topic via `ros2 topic pub` or calling a service via `ros2 service call` the tab completion for the fields of the message is broken. The completion for the topic and message type works fine. The issue seems to be different between zsh and bash.

In zsh:
The field of the message are all handled are possible cli parameters that can be autocompleted pressing tab iterates through the

[2022-07-29 16:55] Flova commented on #742
ROS 1 completion resulted in:

[code]

[2022-07-29 17:16] clalancette commented on #742
So this isn't ideal, but at least in bash if you start with a `"`, and then the first letter of the message, then autocompletion works as expected:

[code]

It would be fantastic to figure out how to do that by default, so we don't need those beginning two letters.

[2022-07-29 17:47] Flova commented on #742
We could also use something without newlines (maybe json), as this most likely breaks the autocomplete. It seems like most autocompletion systems don't play well with long multi line strings. Maybe the autocompletion could be dropped for this argument, and we add an "interactive mode" where the user is able to edit the msg after sending the command.

[2022-07-29 17:54] Flova commented on #742
One could just leave the values field empy and a https://github.com/prompt-toolkit/python-prompt-toolkit multiline prompt is shown.

[2022-07-29 18:11] Flova commented on #742
Editing the msg like this would be fancy, try the snipped:

[code]

Both deps are commonly used, in the Ubuntu repos and cross platform, but the syntax highlighting is not that nessesary if you want to keep the deps low.

[2022-07-29 18:30] clalancette commented on #742
True.  This even seems to work in Windows.

I'd be for adding a mode like this; I think it would be easier to use.  I don't necessarily think we should make it the default (it is not useful for scripting), but for manual interaction it would be pretty cool.

[2022-08-01 04:08] fujitatomoya commented on #736
This happens when the underlying network interfaces are changed, before calling the corresponding `Node` method registered on XMLRPC server.
When this happens, it will destroy the `Node`(DirectNode) object previously registered, and then recreate new `Node`(DirectNode) in `NetworkAwareNode`.
I think that this invalidates the all method functions registered on XMLRPC server.

probably we need to re

[2022-08-01 17:17] ivanpauno commented on #736
That may be the case, I'm not completely sure.
I don't remember this error happening before.

[2022-08-03 12:47] tanacar2002 commented on #563
The bug seems to be fixed for bash but I still face the same problem with zsh.
Let's say I wrote `ros2 topic pub /mavros/setpoint_position/local geometry_msgs/msg/PoseStamped "h` and hit tab, it would only complete the first field name, so the result would be `ros2 topic pub /mavros/setpoint_position/local geometry_msgs/msg/PoseStamped "header:  `. Hitting tab more wouldn't do anything more.
If I

[2022-08-04 13:19] clalancette commented on #738
I don't think we should special-case `TFMessage` here, but I would be for a new command-line option to allow the field to be chosen.

That said, I don't think we'll get to this anytime soon, so please consider making a pull request to implement this functionality.

[2022-08-08 07:56] Interpause opened #744 "[Feature Request] ros2topic get_msg_class() should return msg class for remapped topics"
## Feature request

#### Feature description

Currently, ros2topic's `get_msg_class()` returns `None` when getting the msg class of a remapped topic. This is inconvenient for generic subscribers (i.e. msg synchronizers) that do not know the msg class ahead of time. For example:

- Publisher node publishes msg class `String` to `/publisher_out`.
- Subscriber node uses `get_msg_class(self, "/subscri

[2022-08-08 21:42] fujitatomoya commented on #744
@Interpause thanks for posting issue.

I might be missing something, this seems to be related to topic name, not message type? could you elaborate about `msg synchronizers` a bit if possible?

can you provide complete command line for this? or launch file? I am not sure what you want to do here.

i think there is no such interfaces. remapping is taken place in `rcl`, not in `rmw`. So middleware is

[2022-08-17 15:56] ngifary commented on #736
I am also getting this issue with the same behaviour. But previously I never had this issue when I was on ubuntu 20.04 with galactic (now I am on ubuntu 22.04 with humble). It does seem to be a network problem because I notice that this error come up more often when I try to read messages from the mqtt broker running on the same machine at the same time.

[2022-08-17 17:18] alsora opened #747 "`get_action_names_and_types` is not implemented by the rclpy node class"
## Bug report

The `get_action_names_and_types` API defined here https://github.com/ros2/ros2cli/blob/rolling/ros2action/ros2action/api/__init__.py calls an homonym method on the `Node` rclpy class.
It looks like this function is not implemented.

This problem applies to both Galactic and Humble.

Is there a reason for that?
Which of the two libraries (`ros2cli` or `rclpy`) should be updated?

[2022-08-17 17:20] alsora opened #748 "`get_action_names_and_types` is not implemented by the rclpy node class"
## Bug report

The `get_action_names_and_types` API defined here https://github.com/ros2/ros2cli/blob/rolling/ros2action/ros2action/api/__init__.py calls an homonym method on the `Node` rclpy class.
It looks like this function is not implemented.

This problem applies to both Galactic and Humble.

Is there a reason for that?
Which of the two libraries (`ros2cli` or `rclpy`) should be updated?

[2022-08-17 17:26] alsora commented on #747
Created 2 tickets by mistake.

[2022-08-17 17:26] #747 closed

[2022-08-18 00:11] alsora commented on #748
Interesting, I didn't see that cpp/python binding, however the rclpy node python class does not expose that function.
We have the similar functions for topics and services, but not the one for actions.

https://github.com/ros2/rclpy/blob/rolling/rclpy/rclpy/node.py#L1878

[2022-08-18 05:30] fujitatomoya commented on #748
(`rclpy.action` does) but agree, this seems to be inconsistent for me.

[2022-08-31 23:09] fujitatomoya opened #752 "[ros2 topic hz/bw/pub] support use_sim_time"
## Feature request

#### Feature description

- `hz`, calculate average publish rate based on simulation time.
- `bw`, calculate bandwidth based on simulation time.
- `pub`, use simulation time for `rate` option.

#### Implementation considerations

follow up from https://github.com/ros2/ros2cli/issues/515

[2022-09-06 06:28] omertal88 opened #755 "ros2 cli wrong help message for argument"
## Bug report

**Required Info:**

- Operating System:
  -
- Installation type:
  -
- Version or commit hash:
  -
- DDS implementation:
  -
- Client library (if applicable):
  -

#### Steps to reproduce issue

[code]

#### Expected behavior
`container_node_name   Container node name to unload component from`
#### Actual behavior
`container_node_name   Container node name to load component to`
(ple

[2022-09-06 12:31] clalancette commented on #755
Good call, see #756

[2022-09-06 16:41] #755 closed

[2022-09-06 16:58] fujitatomoya commented on #755
@clalancette do we want to backport this to humble/galactic/foxy?

[2022-09-06 17:29] clalancette commented on #755
Yeah, good call.

[2022-09-06 17:30] clalancette commented on #755
@Mergifyio backport humble galactic foxy

[2022-09-07 15:30] #700 closed

[2022-09-07 15:40] clalancette commented on #700
@ivanpauno @esteve Could you add a note to the [Iron Irwini release page](https://github.com/ros2/ros2_documentation/blob/rolling/source/Releases/Release-Iron-Irwini.rst)?  That way we'll have it queued up for release time.

[2022-09-07 15:49] esteve commented on #700
@clalancette I just submitted https://github.com/ros2/ros2_documentation/pull/2998

[2022-09-07 15:59] clalancette commented on #700
Thank you!

[2022-09-09 04:37] llapx commented on #752
Hi all,

the fix is completed, thanks for review.

[2022-09-09 14:56] fujitatomoya commented on #752
@clalancette @ivanpauno @wjwwood  what do you think about these extension? these are come from our actual use cases, can you share your thoughts?

[2022-09-09 17:15] ivanpauno commented on #752
+1
In ros 1 `use_sim_time` was set in the parameter server, so `rostopic` automatically was able to detect if sim time needed to be used.
Now we will need an explicit way to ask for sim time to be used in `ros2 topic`.

We could also by default check if there's someone publishing to `/clock`, and set `use_sim_time` based on that by default, but I'm not sure that's a good idea or not.

I would star

[2022-09-12 08:49] cadmus-to opened #760 "Cannot/don' publish message with `byte[]` field"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - ros2cli 0.13.4
- DDS implementation:
  - rmw_cyclonedds_cpp: 0.22.5
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
Trying to `ros2 topic pub` a `std_msgs/msg/ByteMultiArray` message. I have tried:
[code]
and
[code]

#### Expected behavior

[2022-09-12 22:27] fujitatomoya commented on #760
- `Float32` and `Float32MultiArray`

  This works w/o any error.

[code]

- `std_msgs/msg/Byte`

  This works w/o any error.

[code]

- `std_msgs/msg/ByteMultiArray`

  Any of them does not work.

[code]

[2022-09-12 22:27] fujitatomoya commented on #760
@iuhilnehc-ynos @ivanpauno any thoughts?

[2022-09-13 06:34] iuhilnehc-ynos commented on #760
@fujitatomoya

The generated message for python in `build/std_msgs/ament_cmake_python/std_msgs/std_msgs/msg/_byte_multi_array.py:158`
only checking a type `bytes` seems not enough.

[code]

The type could be `int` if using `ros2 topic pub -1 /whatever std_msgs/msg/ByteMultiArray "{data: [3]}"`.

I am afraid that we should update the above source code with

[code]

NOTE: It means that we need to up

[2022-09-13 07:40] leeminju531 opened #763 "[Bug] ros cli wasn't working"
## Bug report

**Required Info:**

- Operating System:
  - ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - ros-galactic-ros2cli:amd64/focal 0.13.4-1focal.20220730.003021 uptodate
- DDS implementation:
  - ros-galactic-rmw-cyclonedds-cpp:amd64/focal 0.22.5-1focal.20220729.230105 uptodate
- Client library (if applicable):
  -

I setted cyclonedds.xml settings to connect

[2022-09-13 19:04] ivanpauno commented on #760
It's strange that those are valid, they shouldn't IMO.

Those seem fine, does

[code]
work?

root@tomoyafujita:\~/ros2_ws/colcon_ws# ros2 topic pub -1 /whatever std_msgs/msg/ByteMultiArray "{data: [3,4]}"
root@tomoyafujita:\~/ros2_ws/colcon_ws# ros2 topic pub -1 /whatever std_msgs/msg/ByteMultiArray "{data: [0x03]}"
root@tomoyafujita:\~/ros2_ws/colcon_ws# ros2 topic pub -1 /whatever std_msgs/msg/B

[2022-09-13 19:16] fujitatomoya commented on #760
[code]

both do not work.

[2022-09-15 10:30] leeminju531 commented on #763
Hi, for everyone reading this

In my case, the problem seems to be my fault of cyclonedds.xml settings and for the ros-rmw-daemon node having its information.

if once i run some nodes after having the typo cyclonedds.xml settings, the ros_rmw_node has its info. even if i modify it rightly, ros cli wasn't work.

 after killing daemon process and re-running, it works.

[2022-09-15 10:31] #763 closed

[2022-09-16 04:55] danzimmerman commented on #713
Can confirm I'm having this problem at least on some machines, but not all.

Is there any fix/workaround/suggestions for further debugging that would be useful?

All of my machines are using [Robostack](https://robostack.github.io/) conda environments.

The broken one is using `ros2cli 0.18.3`:

[code]
[mamba_exact_broken_win11.yaml.txt](https://github.com/ros2/ros2cli/files/9580801/mamba_exact_br

[2022-09-16 05:03] danzimmerman commented on #713
The working one is also `0.18.3`

The Linux machine with all the running nodes listed in the details below is an Ubuntu Focal machine also running Humble via Robostack.

[code]

Package list attached.

[mamba_exact_working_win11.yaml.txt](https://github.com/ros2/ros2cli/files/9580817/mamba_exact_working_win11.yaml.txt)

**Results `ros2 topic list`**

<details>

[code]
</details>

**Machine Details

[2022-09-17 04:03] Interpause commented on #744
Sorry for the late reply. After reading a bit more, I think the way remapping occurs might mean its actually impossible for the node to introspect about it. Fixing it probably would require significant changes to ROS2's architecture...

Given it is impossible to fix, maybe it could be mentioned in the ROS2 documentation tutorials about the alternative method of using parameters to set topic names

[2022-09-17 04:03] #744 closed

[2022-09-18 08:14] omertal88 opened #764 "'ros2 param list' fails when a node isn't spinning"
## Bug report

**Required Info:**

- Operating System:
  -  Ubuntu 20.04
- Installation type:
  -  Binaries
- Version or commit hash:
  -  Galactic (don't have tag)
- DDS implementation:
  -  CycloneDDS
- Client library (if applicable):
  -  rclcpp

#### Steps to reproduce issue

Create an executable with a node object inside. Don't spin that node.
Then go to CLI and type:
`ros2 param list`. You s

[2022-09-18 10:27] omertal88 commented on #764
Just saw this duplicates https://github.com/ros2/ros2cli/issues/645

[2022-09-18 10:27] #764 closed

[2022-09-21 19:19] fujitatomoya commented on #752
https://github.com/ros2/ros2cli/pull/754 is merged, close this issue.

[2022-09-21 19:19] #752 closed

[2022-09-22 08:58] leeminju531 opened #766 "why is there no option 'info' in ros2 service ?"
there is no option 'info' in ros2 service. although less than topics, I sometimes want to know service clients,server counts like topics.
could you have any plan to implement this?
thank you

[2022-09-22 12:48] clalancette commented on #766
In short, we've never had a request for it before.  You can get some of the information you want by running `ros2 node info`, which lists the service clients and servers that are available, along with their types.

That said, this is a valid feature request.  We probably won't have time to work on it, but if you are interested in doing the work for it and making pull requests, we'd be happy to rev

[2022-09-22 13:31] leeminju531 commented on #766
okay, it's my pleasure. I'll see it.

[2022-10-03 08:02] hansryant opened #768 "ros2 topic echo array for covariance inconvenient format"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- DDS implementation:
  - RTI Connext
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

[code]

#### Expected behavior
Running in Ubuntu 18.04, ROS2 Eloquent, when I try to echo the topic:
[code]
#### Actual behavior
And then I have another machine that is running in Ub

[2022-10-03 18:39] fujitatomoya commented on #768
related to https://github.com/ros2/ros2cli/issues/680

[2022-10-03 19:00] clalancette commented on #768
I changed the title since the current format isn't wrong, though it may be inconvenient in some circumstances.

@hansryant I know for at least Rolling (and probably Humble) we added in a `--flow-style` argument so you can get the old argument (what @fujitatomoya references above).  Can you try that out and see if it is more to your liking?

[2022-10-04 12:24] mintar opened #769 "[ros2interface] shows empty comments even with --no-comments"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 0.13.4 (galactic)
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

[code]

Actually, the `--no-comments` param is not necessary, because it's the default behavior. Just included here for clarification.

#### E

[2022-10-05 02:07] hansryant commented on #768
I can only use eloquent since my system is only running ubuntu 18.04, but anyway I tried to follow the #680 implementation on how to solve this and it works!

I will just put the steps on how I do it in case other people have this issue as well (for older ROS2 distro):
1. go to `/opt/ros/<distro>/lib/python3.8/site-package/rosidl_runtime_py`
2. edit `convert.py`
3. find the `yaml.dump` and add `de

[2022-10-05 02:07] #768 closed

[2022-10-07 11:23] mintar commented on #769
The bug isn't just for empty comments, but seems to be *any* comments that are weirdly indented:

[code]

[2022-10-07 12:11] clalancette commented on #769
Yeah.  I spent a bit of time looking at this, and the problem is really down in https://github.com/ros2/rosidl/blob/07c292048a5706d165ef4a75c253759d0ce0c308/rosidl_adapter/rosidl_adapter/parser.py#L465 .

In particular, the code to show an interface is calling `parse_message_string` against each line of the message definition looked up.  This is kind of weird on its own; `parse_message_string` is

[2022-10-09 05:21] fujitatomoya commented on #769
right, currently it cannot tell if `comment line` or `comment is empty` instead of adding another annotation, i think.

[2022-10-17 17:06] Crola1702 opened #772 "Flaky test on ros2topic: `test_use_sim_time.TestROS2TopicUseSimTime.test_pub_times`"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 22.04 (Jammy)
- Installation type:
  - Source
- Version or commit hash:
  - Rolling
- DDS implementation:
  - All

#### Steps to reproduce issue

1. Wait for Ros2 ci nightlies to run
2. See test failure (Reference build [here](https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2456/))

#### Expected behavior

Pass on all build

[2022-10-21 20:53] Blast545 commented on #772
Using scripting database tools, the first time it appeared in Rolling debug (30 days ago)

https://build.ros2.org/view/Rci/job/Rci__nightly-release_ubuntu_jammy_amd64/207/
https://ci.ros2.org/view/nightly/job/nightly_linux-rhel_debug/1268/

[2022-10-28 20:24] clalancette commented on #264
We stopped supporting Opensplice long ago, so closing this one out.

[2022-10-28 20:24] #264 closed

[2022-10-28 20:25] clalancette commented on #183
We stopped supporting Opensplice a long time ago, so closing this out.

[2022-10-28 20:25] #183 closed

[2022-10-28 20:26] clalancette commented on #157
I'll say that the original request here was fulfilled long ago, so I'll close this out.

We do need better documentation overall, but we can track that separately.

[2022-10-28 20:26] #157 closed

[2022-11-07 13:32] Crola1702 commented on #772
It happened today in Linux Debug build: https://ci.ros2.org/view/nightly/job/nightly_linux_debug/

[2022-11-09 14:41] Crola1702 commented on #772
It happened today in Linux Release build: https://ci.ros2.org/view/nightly/job/nightly_linux_release/2459/

[2022-11-10 04:59] ckurtz22 opened #778 "No way to load a ros param file for all nodes"
----
## Feature request

#### Feature description
ROS2 has no functionality for loading a parameter file that contains parameters for multiple nodes. This was easily doable in ROS1 and there is no reason it should not be possible in ROS2. For example, parameter file named "params.yaml" contains the following:

[code]

and then running `ros2 param load params.yaml` would apply the relevant paramete

[2022-11-10 18:59] fujitatomoya commented on #778
right, this cannot be done with current `ros2 param` command, since it requires `node_name` in the argument. I think this feature is reasonable.

CC: @ros2/team

[2022-11-12 11:42] ZhenshengLee opened #779 "ros2clifecycle_set and ros2service_call_change_state in lifecycle management is too slow."
## Bug report

**Required Info:**

- Operating System:
  - ubuntu22.04
- Installation type:
  - binary
- Version or commit hash:
  - Humble
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - ros2cli

#### Steps to reproduce issue

the simple lifecycle node can be seen in https://github.com/micro-ROS/system_modes/tree/master/system_modes_examples

[code]

#### Addition

[2022-11-12 11:44] ZhenshengLee commented on #779
May be the right way to manage lifecycle of a node is to write cpp lifecycle manager client?

[2022-11-14 10:51] ZhenshengLee commented on #582
Recently I've met this bug in my project, and here is what I found:

- This bug still exist in apt-version of 20221012 of foxy(with rmw_fastrtps_cpp)
- `ros2 daemon stop` and `ros2 daemon start` can update the nodelist effectively, but would not take effect every time, you need to try and try for couple of times.
- without `ros2 daemon` operation, `ros2 lifecycle set` may return error with "node n

[2022-11-14 12:33] esteve opened #780 "ros2interface can't show IDL messages"
## Bug report

**Required Info:**

- Operating System:
  -

Ubuntu 22.041 LTS

- Installation type:
  -

Binaries

- Version or commit hash:
  -

f6fc61accff8b9648408053fb66b936839fe449d

- DDS implementation:
  -

FastDDS

- Client library (if applicable):
  -
N/A

#### Steps to reproduce issue

 - Have a package that contains messages in .IDL format in a workspace (e.g. https://gitlab.com/autowa

[2022-11-14 21:59] fujitatomoya commented on #779
I am not sure if this is right for everyone, it depends on the use case and requirement.

I am using 1th Gen Intel(R) Core(TM) i9-11900K @ 3.50GHz, and [lifecycle_talker](https://github.com/ros2/demos/blob/rolling/lifecycle/src/lifecycle_talker.cpp)(w/o [this line](https://github.com/ros2/demos/blob/74db664881f53b30e7531422aa13e62a38c7ea88/lifecycle/src/lifecycle_talker.cpp#L160)) can respond appr

[2022-11-14 22:19] fujitatomoya commented on #582
discovery protocol is implemented in RMW implementation, so changing rmw would solve the problem.

no i do not think so, related to previous comment, discovery depends on underneath rmw implementation.

i cannot reproduce this issue with my local environment and rolling branch.

[2022-11-14 23:36] fujitatomoya commented on #780
@esteve thanks for the issue, this is reproducible.

i think parser mistakes the argument with `module` according to the above log, and then raises `InvalidResourceName`.

[2022-11-14 23:38] fujitatomoya commented on #780
@sloretz do you have any thoughts for this issue?

[2022-11-15 01:36] ZhenshengLee commented on #582
@fujitatomoya thank you for your quick reply.

Thanks for your tips, I will have a try.

OK, so rclcpp would not bypass the issue.

according to @v-lopez , only the complex launch would cause this node list problem.

[2022-11-15 01:49] ZhenshengLee commented on #779
@fujitatomoya thanks for your quick reply.

My use case is that a manager of state machine would start a thread executing a launch.py to configure, activate, and deactivate some lifecycle nodes(with executing process `ros2 lifecycle set`), and in my case, this thread takes around 7-10 sesonds to finish the management of 6 lifecycle nodes, if run into error, the launch thread even stucks and cannot

[2022-11-15 04:50] BrettRD commented on #582
I have not noticed this bug in Galactic, but I encountered it immediately again when I used Humble.
I have seen https://github.com/ZhenshengLee/ros2_jetson/issues/10 in galactic

[2022-11-15 10:36] ZhenshengLee commented on #779
It has been tested that the `rclcpp::client<lifecycle_msgs::srv::ChangeState>` is faster enough to manage lifecycle of the node than `ros2 lifecycle set ` and `ros2 service call /node/change_state`

There may be a system pitfall in the ros2cli and/or rclpy.

[2022-11-15 14:47] esteve commented on #780
@fujitatomoya thanks. I have something in the works, but it requires changes in `rosidl_adapter` as well. Basically what happens is that `parse_message_string` (called from https://github.com/ros2/ros2cli/blob/rolling/ros2interface/ros2interface/verb/show.py#L43), does not understand IDL messages and there's no equivalent in `rosidl_adapter.parser`. There's a `parse_idl_string` in `rosidl_parser.p

[2022-11-15 16:56] fujitatomoya commented on #779
This could be quicker for initialization, and i think sometimes we do this kind of init performance improvement like replacing scripts into compiled code. (e.g replace bash script into C compiled binary.) probably this is something makes your performance requirement.

but i am not inclined to take this path for mainline, since this will increases burden for code maintenance. I think current `ros2c

[2022-11-15 17:03] fujitatomoya commented on #582
@iuhilnehc-ynos @llapx can you check if we can see this problem with `rolling`, if you have bandwidth?

i think there is no easy reproducible procedure currently, but we can check with https://github.com/ros2/ros2cli/issues/582#issue-784108824 .

[2022-11-15 22:30] RFRIEDM-Trimble commented on #778
This sounds like a fun one, I'd like to take the work if the team is happy with the modification. Seems straightforward enough.

[2022-11-16 01:26] ZhenshengLee commented on #779
from https://github.com/ros2/ros2cli/issues/582#issuecomment-776539070

Since rclcpp doesn't depend on daemon(graph cache), if rclcpp service client will bypass the issue(evidence from my test in https://github.com/ros2/ros2cli/issues/779#issuecomment-1315117834), the root cause would be in the daemon-graph-cache rather than rmw-graph.

[2022-11-16 05:17] llapx commented on #582
@fujitatomoya

OK, I'll take a check.

[2022-11-16 08:52] fujitatomoya commented on #779
neither `rclpy`. `ros2cli` has `NodeStrategy` to rely on `ros2 daemon` to reduce the time to get the connectivity map, but this can be opt-out.

i guess that this could be, it would be worth to try.

[2022-11-18 02:41] llapx commented on #582
I have tested it on ros:rolling (docker), and build turtlebot3 and navigation2 (ros:rolling no providing nav2 packages) from sources,
after testing for many times, it works well.

[2022-11-18 06:06] iuhilnehc-ynos commented on #582
This issue is not easy to reproduce.

But it must still be there because I can reproduce this issue with rolling (the reproducible steps are similar to https://github.com/ros2/ros2cli/issues/582#issue-784108824) a few times. After stopping the ros2 daemon in step 2 of https://github.com/ros2/ros2cli/issues/582#issue-784108824, we can immediately get the correct result of the node list.

[code]

No

[2022-11-21 10:02] iuhilnehc-ynos commented on #582
1. I can't use `rmw_cyclonedds_cpp` to reproduce this issue.

2. for `rmw_fastrtps_cpp`, as Ctrl+C `ros2 launch nav2_bringup tb3_simulation_launch.py headless:=False` can't make all processes exit normally, the shared-memory files used in the Fast-DDS are not clean successfully. I don't know if it's the root cause to make the `ros2 daemon` not update the `node_listener` -> `rmw_dds_common::GraphCa